{% set table = hubdb_table_rows(1041568, "&orderBy=order")%}

<section class="lead-team reflect">
  <div class="label-tab">
    <h3>
      Our Leadership
    </h3>
  </div>
  
   <div class="team-rows">
     {% for row in table %} 
      {% if ( loop.index <= 2 and row.published == 1 ) %}
        <div class="team-rows__person">
          <img src="{{row.headshot.url}}" alt="">
         <h3>{{row.name}}</h3>
         <h5>{{row.title}}</h5>
        </div>
     {% endif %}
     {% endfor %}
     </div>
  
    <div class="team-rows">
    {% for row in table %}
      {% if ( loop.index >= 3 and row.published == 1 ) %}
        <div class="team-rows__person">
            <img src="{{row.headshot.url}}" alt="">
            <h3>{{row.name}}</h3>
            <h5>{{row.title}}</h5>
          </div>
      {% endif %}
      {% endfor %}
    </div>
</section>