.blog-card-sm {
    display: grid;
    grid-template-columns: 33% 1fr;
    background-color:var(--card-bg);
    cursor: pointer;
    height:100%;
    overflow: hidden;

    &__img-wrap {
        overflow: hidden;
    }

    &__data-wrap {
        padding: 1rem;
        display:flex;
        flex-direction: column;

    }

    &__img {
        object-fit:cover;
        height: 100%;
        width:100%;
        object-position: 50% 50%;
    }

    &__title {
        color:var(--text-color);
        margin-bottom:2rem;
    }

    &__data-lower {
        flex: 1;
        display: flex;
        align-items: flex-end;
        margin-left: auto;
    }

   
}