.news-feature--link--medium {
  box-shadow: inset 0 0 0 1000px #5D5D5F;
}

.blog-feature {
  @extend %grid;

  &__intro {
      grid-column: span 12;
      row-gap: 2rem;

  }

  &__body {
  }
  
  &__title {
  }
  
 
}



.feature-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2em;
  gap: 2em;
  width: 100%;
  padding: 0 2em;
  @include breakpoint (w-sm) {
    grid-template-columns: 1fr;
  }
}
 






.feature-grid .news-feature--article-bg {
  background: none;
  .news-feature--link{
    &:hover {
      transform: none;
    }
  }
}