.blog-feature {
  @extend %grid-12;
  row-gap:2rem;
  column-gap:2rem;

&__intro {
  grid-column: span 12;
}

  &__item {
    --card-bg:var(--color-charcoal-1);
    --text-color:var(--color-white);

    grid-column: span 4;
    grid-row: 2;
    min-height: 8rem;
  }
 
}