.yellow-dotty {
  position: absolute;
  top: 75%;
  left: -10%;
  z-index: 1;
}
.blog-author-hero {
  padding-top: 1.5rem;
  @extend %grid-12;
  grid: 3/ span 6;
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-column: 4 / span 6;


  }

  &__author {
    margin-bottom: .5rem;
  }

  &__bio {
    text-align: center;
    max-width: 40rem;
  }

}

.blog-author-hero__bio-pic {
  @extend .bio-pic;
  margin-bottom: 1rem;
}


.blog-topic-hero {
  padding-top: 1.5rem;
  @extend %grid-12;




  &__content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;


  }

  &__author {
    margin-bottom: .5rem;
  }

}

.blog-author-hero__bio-pic {
  @extend .bio-pic;
  margin-bottom: 1rem;
}