.blog-post-card {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 5rem;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    transition: transform .3s;
    will-change: transform;
    min-height: 20rem;

    

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(40, 40, 42, 0.6), rgba(40, 40, 42, 0.6));
        top: 0;

    }

    &:hover {
        transform:scale(1.05);
        transition: transform .3s;
        will-change: transform;
    }

    &__title {
        padding-left: 10%;
        z-index: 1;

        h2 {
            font-size: 1.6rem;
            text-align: right;
            color: $color-white;
        }

    }

    &__author-date {
        align-self: end;
        z-index: 1;

        h3 {
            font-size: 1rem;
            color: $color-white;

            a {
                color: $color-white;
                font-weight: 700;
                position: relative;
                z-index: 1;
                background: none;

                &::before {
                    content: "";
                    border-bottom-width: .125rem;
                    border-bottom-style: solid;
                    border-bottom-color: $color-sunshine;
                    width: 100%;
                    height: 105%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition-duration: .3s;

                }

                &:hover {
                    color:var(--color-charcoal-7);

                    &::before {

                        border-bottom-color: var(--color-charcoal-2);
                        transition-duration: .3s;


                    }

                }

            }

        }



    }
}