<!--
    templateType: email
    isAvailableForNewContent: true
-->
{% extends '/markup/email/email_static/base.html' %}

{% block email-body %}
    {% include /markup/email/email_static/header.html %}

    {% module "module_20200323093312" path="/markup/email/email_modules/rich-text", label="Rich Text Block" %}

    {% include /markup/email/email_static/divider.html %}

    {% module "module_20200323164948" path="/markup/email/email_modules/article-heading3", label="Heading 3" %}

    {% module "module_20200323172659" path="/markup/email/email_modules/article-heading1", label="Heading 1" %}

    {% module "module_20200323172735" path="/markup/email/email_modules/image", label="Image" %}
    
    {% include /markup/email/email_static/footer.html %}
    


{% endblock %}