<!-- module html  -->
<section class="article-divider 
{% if module.flipped %} article-divider--flipped {% endif %}
{% if module.top_padding == false %} no-top-pad{% endif %}
">
    <div class="article-divider__container" style="background-image:url('{{ module.bg_img.src}}')">
    </div>
    <div class="article-divider__copy-wrapper">
        <div class="article-divider__copy">
            <h5 class="article-divider__section">
                Section {{module.section_number}}
            </h5>
            <div class="divider-line divider-line--negative divider-line--horizontal"></div>
            <h2 class="article-divider__headline">
               {{module.section_header}}
            </h2>
        </div>
    </div>
    






</section>