<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends 'custom/markup/blocks_static/base.html' %}

{% block main %}
{% include 'custom/markup/blocks_static/pattern-bg2.html' %}

{% include 'custom/markup/blocks_static/header.html' %}

{% module "module_155077569662166" module_id="6900948" label="page_hero" %}

{% module "module_155254325777395" module_id="6761566" label="center_block" %}

{% module "module_156270064881914" module_id="8550877" label="lead_team" %}

{# {% include 'custom/markup/blocks_static/press-block.html' %} #}

{% module "module_155254443445497" module_id="6758010" label="strip_block" %}

{% include 'custom/markup/blocks_static/footer.html' %}

{% endblock %}
