<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends 'custom/markup/blocks_static/base.html' %}

{% block main %}
{% include 'custom/markup/blocks_static/pattern-bg2.html' %}

{% include 'custom/markup/blocks_static/header.html' %}

{% module "module_155077569662166" module_id="6900948" label="page_hero" %}

{% module "module_155254381504996" module_id="5849855" label="two_block" %}

{% module "module_1552555346122150" module_id="5849855" label="two_block" %}

{% module "module_155257810099962" module_id="7146605" label="center_block_trainer" %}

{% module "module_155254443445497" module_id="6758010" label="strip_block" %}

{% include 'custom/markup/blocks_static/footer.html' %}

{% endblock %}
