<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends 'custom/markup/blocks_static/base.html' %}

{% block main %}
{% include 'custom/markup/blocks_static/pattern-bg2.html' %}

{% include 'custom/markup/blocks_static/header.html' %}

<section class="blog-post-hero leila">

  <div class="blog-title">
    <h1 class="content-ups">A Word From Our Founder and CEO</h1>
    <div class="author-wrapper">

      <h3 class="content-ups" id="author">
        Leila Janah
        </h3>
      <div class="content-ups divider-line"></div>
<h3 class="content-ups" id="date">April 12, 2019</h3>
    </div>
  </div>
</section>


<section class="blog-body leila">
    <p>To our Sama Community:
        </p>
    <p>I have recently learned I have a rare but treatable form of cancer called epithelioid sarcoma.
    </p>
    <p>After consulting with my doctors and with our board of directors, I plan to continue my core CEO & Chairman duties at Samasource including: leading funding strategy and discussions for our next round and phase of growth, setting and overseeing the long-term company vision, 2019 budget and OKRs, leading weekly senior management meetings, engaging in the recruiting process for key leadership roles, and supporting the sales team as needed on target accounts, with accommodation for my treatment: working from home and/or our NY office for the next few months, with exceptions for major meetings that require travel, and managing my schedule to prioritize my health.
    </p>
    <p>Wendy Gonzalez, as Samasource’s Chief Operating Officer and President, remains my partner in managing the business and many aspects of our day-to-day operations, and is next in command in the event I become incapacitated.
    </p>
    <p>I will continue to share information publicly on my prognosis and treatment as it relates to my ability to continue fulfilling my job functions as CEO after the next surgery and as I learn of any new information.
    </p>
    <p>This was a very challenging diagnosis for me to handle personally, given my usual travel schedule and passion for adventure and sports, and after the unrelated hospitalization I had a year ago. But it also underscores how lucky I am: to get to do meaningful, dignified, living-wage work and to have access to top medical care. Billions of people around the world are not so lucky. If anything, this diagnosis underscores the importance of what we do, and my commitment to beat cancer and lead Samasource for many years to come.
    </p>
    <p>Thank you for your support for our mission and vision.
    </p>
    <p>Sincerely,
    <br>Leila Janah
    </p>
</section>

<section class="blog-bio leila">
  <div class="bio-pic" style="background-image:url({{staticbase}}img/headshots/circles/leila.png)">
    </div>
    <div class="bio-copy">
      <h3>
        Leila Janah
      </h3>
      <h3 class="title">Founder and CEO, Samasource</h3>
      <p>
       Leila Janah is the Founder and CEO of Samasource, an AI company focused on delivering secure, high quality training data to the AI teams driving humanity forward. Founded in 2008, Samasource’s technology and expert workforce serve organizations such as Microsoft, Google, and Ford. Samasource’s social-business model has lifted 50,000+ people out of poverty.        </p>
      </div>
</section>




{% include 'custom/markup/blocks_static/footer.html' %}

{% endblock %}