<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '../blocks_static/base.html' %}

{% block main %}
{% include '../blocks_static/pattern-bg2.html' %}

{% include '../blocks_static/header.html' %}

{% module "module_155185803220924" module_id="6900948" label="page_hero" %}

{% module "module_156764015810266" path="/../modules_from_blocks/showcase", label="showcase" %}





{% module "module_156703503603186" path="/../modules_from_blocks/two_block", label="two_block" %}

{% module "module_155189135087126" module_id="5849855" label="two_block" %}
{% module "module_156762636911249" path="/../modules_from_blocks/two_block", label="two_block" %}

{% module "module_156762974969150" path="/../modules_from_blocks/full_cta_bar", label="full_cta_bar" %}









{% include '../blocks_static/footer.html' %}

{% endblock %}