.menu--expanded {
  animation-name: menuAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}



.menu__contents--expanded {
  animation-name: menuContentsAnimation;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}





.floater {
  -webkit-animation-name: floater-animation;
  animation-name: floater-animation;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.645,.045,.355,1);
  animation-timing-function: cubic-bezier(.645,.045,.355,1);
  background: no-repeat 50%;
  background-size: contain;
  border-radius: 100%;
  position: absolute;
  width: 140px
}

.floater:before {
  content: "";
  display: block;
  padding-bottom: 100%
}

.floater-1 {
  transform: translate(10px, 10px);
  animation-delay: -2s;
  animation-duration: 4s;
}

.floater-2 {
  animation-delay: -6s;
  animation-duration: 16s;
}

.floater-3 {
  animation-delay: 0s;
  animation-duration: 14s;
}

.floater-4 {
  animation-delay: -4s;
  animation-duration: 12s;
}

.floater-5 {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.floater-6 {
  animation-delay: -2s;
  animation-duration: 14s;
}

.floater-7 {
  animation-delay: -6s;
  animation-duration: 17s;
}

.floater-8 {
  animation-delay: 0s;
  animation-duration: 16s;
}

.floater-9 {
  animation-delay: -4s;
}

.floater-9,.floater-10 {
  animation-duration: 13s
}

.floater-10 {
  animation-delay: -7s;
}

@keyframes floater-animation {
  50% {
      transform: none
  }
}