body,
html {
  font-size: var(--base-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x:hidden;

}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-content {
  flex:1;

}

.flexy-flex{

display: flex;
flex-direction: column;
}



* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box
  }

  &:focus {
    outline: none;
  }
}





//Global layout extends


.content-ups {
  position: relative;
  z-index: 1;
  color: $color-charcoal !important;
}

.hide-it {
  visibility: hidden;
}

.nowrap{
  white-space: nowrap;
}

.page-wrapper-flex {
  flex:1;
}

.scroll-lock {
  overflow:hidden;
  height:100vh;
  .mobile-submenu {
    position: absolute;
    overflow: hidden;
  }
}

#hubspot-messages-iframe-container {
  z-index: 20!important;
}