body,
html {
  font-size: var(--base-font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x:hidden;

}




* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box
  }

  &:focus {
    outline: none;
  }
}


section {
  position:relative;
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
  padding-top:6rem;

  @include breakpoint (w-sm){
    padding-bottom: 3rem;
  padding-top:3rem;
  }


}

.section {
  &--sm {
      padding-bottom: 3rem;
      padding-top:3rem;
  }
}




//Global layout extends


.content-ups {
  position: relative;
  z-index: 1;
  color: $color-charcoal !important;
}

.hide-it {
  visibility: hidden;
}

.nowrap{
  white-space: nowrap;
}

.page-wrapper-flex {
  flex:1;
}

.scroll-lock {
  overflow:hidden;
  height:100vh;
  .mobile-submenu {
    position: absolute;
    overflow: hidden;
  }
}

#hubspot-messages-iframe-container {
  z-index: 20!important;
}