:root {
  --font-brown: "Brown",
    Arial,
    sans-serif;
  --font-barlow: "Barlow Condensed",
    Arial,
    sans-serif;
}

body {
  font-family: var(--font-brown);
  color: var(--color-charcoal-1)

  
}

.dark-mode {
  color:var(--color-white)
}

//p tags

p,
.blog-body li {
  font-family: var(--font-brown);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;

  @include breakpoint(w-med) {}

  @include breakpoint(w-sm) {


  }
}

cite {
  display: block;
  font-style: normal;
  font-weight: 700;
}

//headers
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;

  @include breakpoint(w-lg) {
    font-size: 2rem;
  }

  @include breakpoint(w-med) {
    font-size: calc(1rem + 1.75vw);
  }

}

h2 {
  //big titles
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;

  @include breakpoint(w-med) {
    font-size: calc(.8rem + 2vw);
  }
}

h3 {
  font-family: var(--font-barlow);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  padding-bottom: 0.25rem;

  @include breakpoint(w-med) {
    font-size: calc(1rem + 1.8vw);
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;

  @include breakpoint(w-med) {
    font-size: calc(.8rem + 1.3vw);
  }
}

h5 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.4;

  @include breakpoint(w-med) {
    font-size: calc(.8rem + .9vw);
  }
}

h6 {

  //used for menus
  font-size: 0.75rem;
  font-weight: 300;
}

.unbold {
  font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 300;
  }
}

.bold,
b,
strong {
  font-weight: 700 !important;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700 !important;
  }
}

.display-large {
  font-size: 6rem;

  @include breakpoint (w-lg) {
    font-size: 4.75rem;
  }

  @include breakpoint(w-med) {
    --maxFontSize: 4.75rem;
    --minFontSize: 3.8rem;
    --scaler: 7vw;
    font-size: m#{i}n(m#{a}x(var(--minFontSize), var(--scaler)), var(--maxFontSize));
  }

}



.display-small {
  font-size: 3.75rem;

  @include breakpoint (w-lg) {
    font-size: 3rem;
  }

  @include breakpoint(w-med) {
    --maxFontSize: 3rem;
    --minFontSize: 2.4rem;
    --scaler: 7vw;
    font-size: m#{i}n(m#{a}x(var(--minFontSize), var(--scaler)), var(--maxFontSize));
  }


}

//a href's
h3 a,
p a,
a>span,
h4>a,
span>a,
.blog-body a,
.hubby-cta__hyperlink {
  color: var(--color-charcoal-2);
  font-weight: 700;
  position: relative;
  background-image: linear-gradient(transparent 0%, transparent 60%, $color-sunshine 60%, $color-sunshine 80%, transparent 80%, transparent 100%);
  background-position: 0 0;

}

h3 a {
  &::before {
    height: 77%;
  }
}

a:hover,
a:hover>span {
  color: var(--color-charcoal-4);
}

a,
a:hover,
a>span,
a>svg {
  transition-property: box-shadow, transform, color, background-color, border-bottom-color, fill, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {}

.clearlink {
  text-decoration: underline;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {}

  &:hover {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {}
  }

}

//justifying text 

.text-left {
  text-align: left !important
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;

}


blockquote {
  position: relative;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  border-left: .25rem solid var(--color-charcoal-2);
  margin-top: 0rem;
  margin-bottom: 0rem;

  p {
    font-size: 1.25rem;

    @include breakpoint(w-med) {
      font-size: calc(.8rem + .9vw);
    }

  }

}

h3.date {
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

