//Padding things....

.no-top-pad {
  padding-top: 0;
}

.no-bottom-pad {
  padding-bottom: 0;
}

.no-y-pad{
  padding-top: 0; 
  padding-bottom: 0;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-content {
  flex:1;
  display: flex;
  flex-direction:column;
}



.section-wrap{
  padding-top: 6rem;
  padding-bottom: 6rem;
  & > .hs_cos_wrapper{
    padding-bottom: $module-bottoms;
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  @include breakpoint(w-sm) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

}


