<section class="dark-mode bg-charcoal-3">
  <div class="grid-wrapper">
    <div class="three-block__intro">



      <div class="three-block__headline">
        <h2>
          {{ module.headline }}
        </h2>
      </div>


      <div class="three-block__subheadline">
        <h5>
          {{ module.subheadline }}
          </54>

      </div>
      <div class="btn__row">
        {% if module.cta1 %}
        <div class="btn__wrapper">
          <button class="btn">
                            {% cta guid="{{ module.cta1 }}" %}
                      </button>
        </div>
        {% endif %}
        {% if module.cta2 %}
        <div class="btn__wrapper">
          <button class="btn btn--secondary">
                          {% cta guid="{{ module.cta2 }}" %}
                        </button>
        </div>
        {% endif %}
      </div>
    </div>




    <div class="three-block__blocks">

      <div class="block-img">
        <img src="{{ module.block1_img }}" />
      </div>

        <div class="block-title">
          <h4 class="{{ module.title_size }}">
            {{ module.block1_title }}
          </h4>
        </div>

        <div class="block-body">
          <p>
            {{ module.block1_body }}
          </p>
        </div>

        <div class="block-img">
          <img src="{{ module.block2_img }}" />
      </div>

          <div class="block-title">
            <h4 class="{{ module.title_size }}">
              {{ module.block2_title }}
            </h4>
          </div>

          <div class="block-body">
            <p>
              {{ module.block2_body }}
            </p>
          </div>

          <div class="block-img">
            <img src="{{ module.block3_img }}" />
      </div>

            <div class="block-title">
              <h4 class="{{ module.title_size }}">
                {{ module.block3_title }}
              </h4>
            </div>

            <div class="block-body">
              <p>
                {{ module.block3_body }}
              </p>
            </div>



          </div>
        </div>
</section>