<!--
    templateType: error_page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base_404.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header.html' %}


<section class="center-block ">

  <div class="label-tab" >
    <h3>
      Error!?! What!?!
    </h3>
  </div>

  <div class="center-content">
    <h5>
Oh No! Looks like we can't find what you were looking for! We did just launch a new site, so chances are you are using an outdated link. But no worries. Have a look around. Stay a while. And we're always here if you just want to talk.
  </h5>
    
    
    
    

<a href="contact-us"	>

	<button class="btn">
        <h3>
          Let's Talk
        </h3>
      </button>
</a>
    
    
    
    
    

    </div>

</section>



{% include '/markup/blocks_static/footer.html' %}

{% endblock %}