<!--
    templateType: page
    isAvailableForNewContent: true
-->

{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_156694525945620" path="/markup/modules_from_blocks/platform-hero", label="platform-hero" %}

{% module "module_20191021120432" path="/markup/modules_from_blocks/showcase", label="showcase" %}


{% module "module_20191021122101" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% module "module_20191021141243" path="/markup/modules_from_blocks/table", label="table" %}


{% module "module_20191021122303" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}