<!--
    templateType: blog
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg1.html' %}

{% include '/markup/blocks_static/header.html' %}

{% include '/markup/blocks_static/blog/blog-post-hero.html' %}

{% include '/markup/blocks_static/blog/blog-post-body.html' %}

{% include '/markup/blocks_static/blog/blog-bio.html' %}


{% include '/v1/markup/blocks_static/footer.html' %}



{% endblock %}
