<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header.html' %}


{% include '/markup/blocks_to_convert/lotsa-text-center.html' %}

{% module "module_155077571691869" path="/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_1553210099391102" path="/markup/modules_from_blocks/page_title", label="page_title" %}

{% module "module_155321005746970" path="/markup/modules_from_blocks/form_block", label="form_block" %}


{% include '/markup/blocks_static/footer.html' %}

{% endblock %}