<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_155185803220924" module_id="6900948" label="page_hero" %}

{% module "module_15686476078477" path="/markup/modules_from_blocks/center_block", label="center_block" %}

{% module "module_15686476693978" path="/markup/modules_from_blocks/three_block", label="three_block" %}

{% module "module_15686478656679" path="/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% module "module_155189135087126" module_id="5849855" label="two_block" %}

{% module "module_155189136810627" module_id="5849855" label="two_block" %}

{% module "module_155240538713970" module_id="5849855" label="two_block" %}

{% module "module_155240540382174" module_id="5849855" label="two_block" %}

{% module "module_155240541071275" module_id="5849855" label="two_block" %}

{% module "module_155189322794628" module_id="6758010" label="strip_block" %}



{% include '/markup/blocks_static/footer.html' %}

{% endblock %}