<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_155185803220924" path="/markup/modules_from_blocks/page_hero", label="page_hero" %}

{% module "module_1552409207033122" path="/markup/modules_from_blocks/center_block", label="center_block" %}

{% module "module_155189135087126" path="/markup/modules_from_blocks/two_block", label="two_block" %}

{# {% module "module_1553197708846297" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %} #}

{% include '/markup/blocks_static/cash-block.html' %}

{# {% module "module_1553202931500464" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %} #}

{# {% module "module_155189322794628" path="/markup/modules_from_blocks/strip_block", label="strip_block" %} #}



{% include '/markup/blocks_static/footer.html' %}

{% endblock %}