<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}

{% include '/markup/blocks_static/pattern-bg.html' %}

{% include '/markup/blocks_static/header.html' %}



{% module "module_1564677146884126" path='/markup/modules_from_blocks/homepage_hero', label="homepage_hero" %}

{% module "module_15507301700363387" module_id="6761566" label="center_block" %}

{% module "module_1550710676047301" module_id="6760672" label="three-block" %}

{% module "module_156806516689677" path="/markup/modules_from_blocks/center_block_vision", label="center_block_vision" %}

{% module "module_155098672855052" module_id="6758010" label="strip_block" %}

{% include '/markup/blocks_static/nlp-block.html' %}

{% module "module_15507278760891492" module_id="6758010" label="strip_block" %}

{% module "module_1553120013475406" module_id="7237502" label="two_block_award" %}

{% module "module_15507293750713347" module_id="6758044" label="brag_bar" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}
