<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}

{% include '/markup/blocks_static/pattern-bg.html' %}

{% include '/markup/blocks_static/header.html' %}



{% module "module_1564677146884126" path='/markup/modules_from_blocks/homepage_hero', label="homepage_hero" %}

{% module "module_15507301700363387" path="/markup/modules_from_blocks/center_block", label="center_block" %}

{% module "module_1550710676047301" path="/markup/modules_from_blocks/three-block", label="three-block" %}

{% module "module_156806516689677" path="/markup/modules_from_blocks/center_block_vision", label="center_block_vision" %}

{% module "module_155098672855052" path="/markup/modules_from_blocks/strip_block", label="strip_block" %}

{% include '/markup/blocks_static/nlp-block.html' %}

{% module "module_15507278760891492" path="/markup/modules_from_blocks/strip_block", label="strip_block" %}

{% module "module_1553120013475406" path="/markup/modules_from_blocks/two_block_award", label="two_block_award" %}

{% module "module_15507293750713347" path="/markup/modules_from_blocks/brag_bar", label="brag_bar" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}
