<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg.html' %}

{% include '/markup/blocks_static/header.html' %}



{% module "module_15657246379019" path="/custom/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% include '/markup/blocks_static/map.html' %}

{% module "module_156748905201047" path="/custom/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% module "module_156748968223463" path="/custom/markup/modules_from_blocks/center_form", label="center_form" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}