<!--
    templateType: page
    isAvailableForNewContent: true
-->

{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_20191113102705" path="/markup/modules_from_blocks/page_hero", label="page_hero" %}

{% module "module_20191113102757" path="/markup/modules_from_blocks/center_block", label="center_block" %}

{% module "module_20191114091059" path="/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% include '/markup/blocks_static/timeline.html' %}



{% include '/markup/blocks_static/footer.html' %}

{% endblock %}