<!--
    templateType: password_prompt_page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header-lp.html' %}

<div class="page-wrapper-flex">
  <section class="center-block center-block--password_prompt ">

    <div class="label-tab">
      <h3>
        Password Required
      </h3>
    </div>

    <div class="center-content">
      <h4>
        Please enter a password to view page content:
      </h4>


      <div class="form-wrapper center-block__form center-block__form--password ">
        {% password_prompt "my_password_prompt" submit_button_text='Submit', bad_password_message='Sorry, please try again.\n', label='Password Prompt' no_wrapper=True %}
      </div>
    </div>

  </section>


</div>



{% include '/markup/blocks_static/footer.html' %}

{% endblock %}