<!--
    templateType: page
    isAvailableForNewContent: true
-->


{% extends '/markup/blocks_static/base-hybrid.html' %}

{% block main %}


{% include '/markup/blocks_static/header.html' %}

{% module "module_20200218205811" path="/markup/modules_from_blocks/half_hero", label="half_hero" %}

{% module "module_20200218220825" path="/markup/modules_from_blocks/two_block", label="two_block" %}

{# SECTION 1 #}

{% module "module_20200219104634" path="/markup/modules_from_blocks/article_divider", label="article_divider" %}

{% module "module_20200219135235" path="/markup/modules_from_blocks/center_body", label="center_body" %}

{% module "module_20200226060614" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% module "module_20200410093924" path="/markup/modules_from_blocks/center_body", label="center_body" %}

{% module "module_20200410094150" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{# SECTION 2 #}

{% module "module_20200219140723" path="/markup/modules_from_blocks/article_divider", label="article_divider" %}

{% module "module_20200219140835" path="/markup/modules_from_blocks/center_body", label="center_body" %}

{% module "module_20200226060630" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}


{# SECTION 3 #}

{% module "module_20200219140850" path="/markup/modules_from_blocks/article_divider", label="article_divider" %}

{% module "module_20200219140926" path="/markup/modules_from_blocks/center_body", label="center_body" %}

{% module "module_20200226060642" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}


{# Bottom Section Get IT #}

{% module "module_20200220162803" path="/markup/modules_from_blocks/center_card", label="center_card" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}