<!--
    templateType: page
    isAvailableForNewContent: true
-->

<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg.html' %}

{% module "module_20200221101859" path="/markup/modules_from_blocks/header", label="header" %}

{% module "module_20200218205811" path="/markup/modules_from_blocks/half_hero", label="half_hero" %}

{% module "module_20200218220825" path="/markup/modules_from_blocks/two_block", label="two_block" %}

{# SECTION 1 #}

{% module "module_20200219104634" path="/markup/modules_from_blocks/article_divider", label="article_divider" %}

{% module "module_20200219135235" path="/markup/modules_from_blocks/center_body", label="center_body" %}

{# SECTION 2 #}

{% module "module_20200219140723" path="/markup/modules_from_blocks/article_divider", label="article_divider" %}

{% module "module_20200219140835" path="/markup/modules_from_blocks/center_body", label="center_body" %}


{# SECTION 3 #}

{% module "module_20200219140850" path="/markup/modules_from_blocks/article_divider", label="article_divider" %}

{% module "module_20200219140926" path="/markup/modules_from_blocks/center_body", label="center_body" %}

{# SECTION 4 #}

{% module "module_20200219152011" path="/markup/modules_from_blocks/article_divider", label="article_divider" %}

{% module "module_20200219152025" path="/markup/modules_from_blocks/center_body", label="center_body" %}


{% module "module_20200220162803" path="/markup/modules_from_blocks/center_card", label="center_card" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}