<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}



{% include '/markup/blocks_static/header.html' %}



{% module "module_20200124164133" path="/markup/modules_from_blocks/half_hero_2", label="half_hero_2" %}







{% module "module_20200124170847" path="/markup/modules_from_blocks/center_body", label="center_body" %}






{% include '/markup/blocks_static/footer.html' %}

{% endblock %}