<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_20200124164133" path="/markup/modules_from_blocks/half_hero_2", label="half_hero_2" %}




<!-- <section class="blog-post-hero leila">

  <div class="blog-title">
    <h1 class="content-ups">A Word From Our Founder and CEO</h1>
    <div class="author-wrapper">

      <h3 class="content-ups" id="author">
        Leila Janah
        </h3>
      <div class="content-ups divider-line"></div>
<h3 class="content-ups" id="date">April 12, 2019</h3>
    </div>
  </div>
</section> -->


{% module "module_20200124170847" path="/markup/modules_from_blocks/center_body", label="center_body" %}

<!-- <section class="blog-bio leila">
  <div class="bio-pic" style="background-image:url({{staticbase}}img/headshots/circles/leila.png)">
    </div>
    <div class="bio-copy">
      <h3>
        Leila Janah
      </h3>
      <h3 class="title">Founder and CEO, Samasource</h3>
      <p>
       Leila Janah is the Founder and CEO of Samasource, an AI company focused on delivering secure, high quality training data to the AI teams driving humanity forward. Founded in 2008, Samasource’s technology and expert workforce serve organizations such as Microsoft, Google, and Ford. Samasource’s social-business model has lifted 50,000+ people out of poverty.        </p>
      </div>
</section> -->




{% include '/markup/blocks_static/footer.html' %}

{% endblock %}