<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_155077569662166" path="/markup/modules_from_blocks/page_hero", label="page_hero" %}

{% module "module_155077570795167" path="/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_155077571287168" path="/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_155077571691869" path="/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_155354036555512978" path="/markup/modules_from_blocks/six_block_global", label="six_block_global" %}

{% module "module_15507935702361302" path="/markup/modules_from_blocks/strip_block", label="strip_block" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}