<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_15669469808814" path="/custom/markup/modules_from_blocks/page_hero", label="page_hero" %}

{% module "module_15669469881855" path="/custom/markup/modules_from_blocks/center_block", label="center_block" %}

{% include '/markup/blocks_static/cv-table.html' %}

{% module "module_156694995083444" path="/custom/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% module "module_156695035956946" path="/custom/markup/modules_from_blocks/strip_block", label="strip_block" %}

{% module "module_156694844092515" path="/custom/markup/modules_from_blocks/brag_bar", label="brag_bar" %}

{% module "module_156748010889244" path="/custom/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}