<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg2.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_20200930214404" path="/markup/modules_from_blocks/page_hero_variant", label="Hero" %}

{% module "module_20200930165951" path="/markup/modules_from_blocks/center_body", label="Center Body" %}


{% include '/markup/blocks_static/footer.html' %}

{% endblock %}