<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}
{% include '/markup/blocks_static/pattern-bg.html' %}

{% include '/markup/blocks_static/header.html' %}

{% module "module_1567350561938110" path="/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% module "module_15657246379019" path="/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% include '/markup/blocks_static/map.html' %}

{% include '/markup/blocks_static/footer.html' %}


{% endblock %}