.bg-charcoal-1 {
    --parent-bg:var(--color-charcoal-1);
    background-color:var(--parent-bg);
}

.bg-charcoal-2 {
    --parent-bg:var(--color-charcoal-2);
    background-color:var(--parent-bg);
}

.bg-charcoal-3 {
    --parent-bg:var(--color-charcoal-3);
    background-color:var(--parent-bg);
}

.bg-charcoal-4 {
    --parent-bg:var(--color-charcoal-4);
    background-color:var(--parent-bg);
}

.bg-charcoal-5 {
    --parent-bg:var(--color-charcoal-5);
    background-color:var(--parent-bg);
}

.bg-charcoal-6 {
    --parent-bg:var(--color-charcoal-6);
    background-color:var(--parent-bg);
}

.bg-charcoal-7 {
    --parent-bg:var(--color-charcoal-7);
    background-color:var(--parent-bg);
}

.bg-charcoal-8 {
    --parent-bg:var(--color-charcoal-8);
    background-color:var(--parent-bg);
}

.bg-charcoal-9 {
    --parent-bg:var(--color-charcoal-9);
    background-color:var(--parent-bg);
}

.bg-sunny{
    --parent-bg:var(--color-sunshine);
    background-color:var(--parent-bg);
}