//Colors

//ob $color-sunshine

// $color-ob-sunshine: #ffd900;
// $color-ob-sunshine-trans: rgba(#ffd900, 0.8);
// $color-oc-sunshine-hover: #d6b600;

//Sunshine
$color-sunshine: #fffa0c;
$color-sunshine-trans: rgba(#fffa0c, 0.8);

//Charcoal
$color-charcoal: #28282a;
$color-charcoal-trans: rgba(#28282a, 0.8);

//Tembo
$color-tembo: #505052;
$color-tembo-trans: rgba(#505052, 0.4);

//Nguva
$color-nguva: #9ba0a5;
$color-nguva-trans: rgba(#9ba0a5, 0.4);

//Isabelline
$color-isabelline: #ededef;
$color-isabelline-trans: rgba(#ededef, 0.7);

//Kennedy
$color-kennedy: #291d54;
$color-kennedy-trans: rgba(#291d54, 0.7);

$color-kennedy-1: #291d54;
$color-kennedy-2:#4E4080;
$color-kennedy-3: #756B99;

//white
$color-white: #fff;


//black
$color-black: #000;
$color-black-trans: rgba(#000, 0.4);

//Charcoal
$color-charcoal: #28282a;
$color-charcoal-trans: rgba(#28282a, 0.8);

$color-charcoal-1:#28282a;
$color-charcoal-2:#323234;
$color-charcoal-3:#404042;
$color-charcoal-4:#5a5a5c;
$color-charcoal-5:#757577;
$color-charcoal-6:#929294;
$color-charcoal-7:#afafb1;
$color-charcoal-8:#ceced0;
$color-charcoal-9:#ededef;
$color-charcoal-10:#f7f7f9;

 //Data Viz
// "#fffa0c",
// "#291d54",
// "#815ab9",
// "#ff3377",
// "#00eded",
// "#2792f4",
// "#00ee9e"


// ["#00eded",
// "#fffa0c",
// "#ff3377",
// "#2792f4",
// "#00fa92",
// "#815ab9",
// "#291d54"]
