// ______________Width > could update to try these with REMs. however, in testing always using browser window width in px
// REM size @ 16px

$w-xlg: 1296px; //1374 px and up
$w-lg: 1088px; //1080px - 1374px
$w-med: 800px;//800px - 1080px
$w-sm: 320px; //320px - 800px

:root{

// $width-xxxlg: 130em; //
// $width-xxlg: 110em; //
--w-xlg: 1296px; //1374 px and up
--w-lg: 1088px; //1080px - 1374px
--w-med: 800px;//800px - 1080px
--w-sm: 320px; //320px - 800px



// $width-xsm: 17.777em; // 320px iphone 5 width

//iphone 4,5 = 320px Width
//iphone 6+ = 375px width

// ____________Heights
// $height-sm: 31.250rem; // 500px
// $height-med: 43.750rem; // 700px
// $height-lg: 50.000rem; // 800px'
   

// Page Widths
    
  --xlg-page-width: 1296px;
  --lg-page-width: 1056px;


}

@mixin breakpoint($width) {
  @if $width == w-xsm {
    @media (max-width: $w-sm) {
      @content;
    }
  } @else 
  if $width == w-sm {
    @media (max-width: $w-med)) {
      @content;
    }
  } @else 
  if $width == w-med {
    @media (max-width: $w-lg) {
      @content;
    }
  } @else 
  if $width == w-lg {
    @media (max-width: $w-xlg) {
      @content;
    }
  } @else 
  if $width == w-xlg {
    @media (min-width: $w-xlg) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: w-sm, w-med, w-lg, w-xlg";
  }
}

//page-container widths




:root {
    
}



%grid {
    display:grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    width: var(--xlg-page-width);
    align-self: center;
    column-gap: .25rem;
    padding-left:.125rem;
    padding-right:.125rem;
    
    @include breakpoint(w-lg) {
      width: var(--lg-page-width);
    }

    @include breakpoint(w-med) {
        max-width: var(--med-page-width);
      }

  }




