// ______________Width > could update to try these with REMs. however, in testing always using browser window width in px
// REM size @ 16px

//breakpoints for sass

$w-xlg: 1439px; //1440 px and up
$w-lg: 1134px; //1120px - 1439px
$w-med: 816px; //816px - 1120px
$w-sm: 320px; //320px - 800px

:root {

  //Breakpoints

  // $width-xxxlg: 130em; //
  // $width-xxlg: 110em; //
  --w-xlg:#{$w-xlg}; //1360 px and up
  --w-lg: #{$w-lg}; //1120px - 1360px
  --w-med: #{$w-med}; //816px - 1120px
  --w-sm: #{$w-sm}; //320px - 816px

  // Content Widths within breakpoints, usually 1rem or 16px less than breakpoint width

  --xlg-page-width: 1312px;
  --lg-page-width: 1070px;
  --med-page-width: 800px;

}

@mixin breakpoint($width) {
  @if $width==w-xsm {
    @media (max-width: $w-sm) {
      @content;
    }
  }

  @else if $width==w-sm {
    @media (max-width: $w-med) {
      @content;
    }
  }

  @else if $width==w-med {
    @media (max-width: $w-lg) {
      @content;
    }
  }

  @else if $width==w-lg {
    @media (max-width: $w-xlg) {
      @content;
    }
  }

  @else if $width==w-xlg {
    @media (min-width: $w-xlg) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: w-sm, w-med, w-lg, w-xlg";
  }
}

//page-container widths






 @mixin page-width {
  width: var(--xlg-page-width);

  @include breakpoint(w-lg) {
    width: var(--lg-page-width);
  }

  @include breakpoint(w-med) {
    width: var(--med-page-width);
  }

  @include breakpoint(w-sm) {
    margin-left: 1rem;
    margin-right: 1rem;
    width:auto;
    max-width:40rem;
  }
}

.page-width {
  @include page-width;
}

@mixin column-gap-12 {
  column-gap: 2rem;
  @include breakpoint (w-sm){
    column-gap:0rem;
  }
}




@mixin column-gap-6 {
  column-gap: 8rem;

  @include breakpoint (w-med) {
    column-gap: 4rem;
  }

  @include breakpoint (w-sm){
    column-gap:0rem;
  }
}

%grid-12 {
  @include page-width;
  @include column-gap-12;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-self: center;
}

%grid-6 {
  @include page-width;
  @include column-gap-6;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  align-self: center;
}

.grid-wrapper {
  @extend %grid-12;
}

@mixin small-pad () {

  @include breakpoint (w-sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  

}

%grid-section {
  --center-width: var(--xlg-page-width);
  @include breakpoint(w-lg) {
    --center-width: var(--lg-page-width);
  }

  @include breakpoint(w-med) {
    --center-width: var(--med-page-width);
  }

  @include breakpoint(w-sm) {
    --center-width: calc (100% - 2rem);
  }


  display: grid;
  grid-template-columns: 1fr var(--center-width) 1fr;
 
}
