//development variables
$allyourbase: "https://cdn2.hubspot.net/hubfs/4379491/";
// $allyourbase: "/file_manager/";
$staticbase: "#{$allyourbase}custom/assets/static-assets/";

:root {
    --base-font-size: 100%;

    // Page Widths
    
    --xlg-page-width: 1296px;
    --lg-page-width: 1056px;

    //header sizes 
    --headerheight: 75px;
    --mobileheaderheight: 50px;

}