<!--
    templateType: none
    isAvailableForNewContent: true
-->

{% if not simple_list_page %}

<section class="post-listing"
         id="blog-feed">
  {% for content in contents %}
    {#% if loop.index > 1 %#}
  
      <div class="news-feature--article-bg-light
                  js-blog-post">
        <div class="news-feature--link
                    news-feature--link-light">
          <div>
          <a href="{{ content.absolute_url}}"
             class="card-image"
             style="background-image: url({{ content.post_list_summary_featured_image }});"></a>
          {% if content.topic_list %}
            {% for topic in content.topic_list %}
              {% if loop.index == 1 %}
                <a class="news-feature__category"
                   href="/blog/tag/{{ topic.slug }}">
                  <p class="bold">
                    {{ topic.name }}
                  </p>
                </a>
              {% endif %}
            {% endfor %}
          {% endif %}
          <a href="{{ content.absolute_url}}"
             class="news-feature__title
                    news-feature__title--dark">
            <h2 class="bold">
              {{ content.name }}
            </h2>
          </a>
            <div class="blog-listing__meta">
              <a class="blog-listing-hero__author"
                 href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">
                {{ content.blog_post_author.display_name }}
              </a>
              <div class="blog-listing-hero__datetime">
                {{ content.publish_date|datetimeformat('%B %e, %Y') }} | 
                {% set initialPostWords = content.post_body|wordcount %}
                {% set calculatedPostWords = (initialPostWords/100) * 100 %}
                {% set finishedPostWords = calculatedPostWords|divide(200)|round(2) %}
                {% set number = finishedPostWords|round %}
                {% if number < 1 %}
                  1 Min Read
                {% else %}
                  {{ finishedPostWords|round }} Min Read
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {#% endif %#}
  {% endfor %}

</section>

{% else %}

    {% for content in contents %}
    <section class="blog-list">
      <h5>{{ content.name }}</h5>
      by <h3>
        <a class="" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">

          {{ content.blog_post_author.display_name }}

        </a>
      </h3>
    </section>

    {% endfor %}

{% endif %}




