<!--
    templateType: none
    isAvailableForNewContent: true
-->

{% for content in contents %}
  {% if loop.index == 1 %}
    <div class="two-block-hero
                blog-list-hero
                js-blog-post">
      <a href="{{ content.absolute_url}}"
         class="blog-list-hero__image">
        <img src="{{ content.featured_image }}"
             alt="">
      </a>
      <div class="blog-list-hero__copy">
        <div class="blog-list-hero__topics">
          {% if content.topic_list %}
            {% for topic in content.topic_list %}
              {% if loop.index == 1 %}
                <a class="tag-label"
                   href="/blog/tag/{{ topic.slug }}">
                  <p class="bold tag-label__text">
                    {{ topic.name }}
                  </p>
                </a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <h1 class="blog-list-hero__title">
          <a href="{{ content.absolute_url}}">
            {{ content.name|striptags }}
          </a>
        </h1>
        <div class="blog-list-hero__body">
          <p>
            {{ content.post_body|striptags|truncate(200) }}
          </p>
        </div>
        <div class="blog-listing-hero__meta">
          <a class="blog-listing-hero__author"
             href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">
            {{ content.blog_post_author.display_name }}
          </a>
          <div class="blog-listing-hero__datetime">
            {{ content.publish_date|datetimeformat('%B %e, %Y') }} |
            {% set initialPostWords = content.post_body|wordcount %}
            {% set calculatedPostWords = (initialPostWords/100) * 100 %}
            {% set finishedPostWords = calculatedPostWords|divide(200)|round(2) %}
            {% set number = finishedPostWords|round %}
            {% if number < 1 %}
              1 Min read
            {% else %}
              {{ finishedPostWords|round }} Min Read
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
