<!--
    templateType: none
    isAvailableForNewContent: true
-->



{% module "39847493633" path="/v1/markup/blog/blog-menu", label="blog-menu" %}

{% if topic %}
{% include '/v1/markup/blog/blog-header-topic-v2.html' %}

{% elif blog_author %} 

{% include '/v1/markup/blog/blog-header-author-v2.html' %}

{% else %}
  {% include '/v1/markup/blog/blog-home-hero-v2.html' %}
  {# {% module "module_160997346229524" path="/v1/markup/blog/blog-featured-topic", label="blog-featured-topic" %} #}

{% endif %}
