<!--
    templateType: none
    isAvailableForNewContent: true
-->

{% if not simple_list_page %}

<section class="post-listing">
  {% for content in contents %}

  <div class="blog-post-card"
    style="{% if content.post_list_summary_featured_image %}background-image:url({{ content.post_list_summary_featured_image }}) {% endif %}"
    onclick="location.href='{{ content.absolute_url}}'">
    <div class="blog-post-card__title">
      <h2>{{ content.name }}</h2>
    </div>
    <div class="blog-post-card__author-date">
      {%if content.blog_post_author %}
      <h3>
        <a class="" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">

          {{ content.blog_post_author.display_name }}

        </a>
      </h3>

      {# <h3>
        {{ content.publish_date_local_time|datetimeformat('%B %e, %Y') }}
      </h3> #}
      {% endif %}
    </div>
  </div>

  {% endfor %}

</section>

{% else %}

    {% for content in contents %}
    <section class="blog-list">
      <h5>{{ content.name }}</h5>
      by <h3>
        <a class="" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">

          {{ content.blog_post_author.display_name }}

        </a>
      </h3>
    </section>

    {% endfor %}

{% endif %}




