<!--
    templateType: none
    isAvailableForNewContent: true
-->
<link href="{{ get_asset_url('/v1/assets/css/blog-v2.css') }}" rel="stylesheet">

{% module "module_16098669978076" path="/v1/markup/blog/blog-header", label="blog-header" %}

{% if topic %}
{% include '/v1/markup/blog/blog-header-topic-v2.html' %}

{% elif blog_author %} 

{% include '/v1/markup/blog/blog-header-author-v2.html' %}

{% else %}
  {% include '/v1/markup/blog/blog-home-hero-v2.html' %}
  {% module "module_160997346229524" path="/v1/markup/blog/blog-featured-topic", label="blog-featured-topic" %}
{% endif %}
