<!--
    templateType: none
    isAvailableForNewContent: true
-->

{% if not simple_list_page %}

<section class="post-listing">

  {% for content in contents %}
  <div onclick="location.href='{{ content.absolute_url}}'" class="post-listing-card">
    <img src="{{ content.post_list_summary_featured_image }}" class="post-listing-card__img" />
    <div class="post-listing-card__data">
      <h2 class="post-listing-card__title">
        {{ content.name }}
      </h2>

      <h5 class="post-listing-card__author">
         <a class="" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">
          {{ content.blog_post_author.display_name }}
        </a> 
       </h5>

       <h6 class="post-listing-card__date">
        {{ content.publish_date_local_time|datetimeformat('%B %e, %Y') }}
       </h6> 
       <h6 class="post-listing-card__date">
        {{ content.publish_date_local_time|datetimeformat('%B %e, %Y') }}
       </h6> 

    </div>

  </div>

  {% endfor %}

</section>

<!-- s -->

<!-- {% for content in contents %}
<section class="blog-list">
  <h5>{{ content.name }}</h5>
  by <h3>
    <a class="" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">

          {{ content.blog_post_author.display_name }}

        </a>
  </h3>
</section>

{% endfor %} -->

{% endif %}