<!--
    templateType: none
    isAvailableForNewContent: true
-->

<section>
  <div class="post-meta">

    <!---------tags----------->
    <div class="post-meta__tags">

      <h5 class="post-meta__header">
        Filed Under:
      </h5>

      <div class="post-meta__tag-list">
        {% if content.topic_list %}
        {% for topic in content.topic_list %}
        <a class="tag-label"
                       href="/blog/tag/{{ topic.slug }}">
                      <p class="bold tag-label__text">
                        {{ topic.name }}
                      </p>
                    </a>
        {% endfor %}
        {% endif %}
      </div>

    </div>

    <!---------Bio----------->

    <div class="post-meta__bio">
      <h5 class="post-meta__header">
        Words by:
      </h5>

      <div class="post-meta__bio-inner">
        <div class="blog-author-hero__image
              blog-author-hero__image--small">
          <img src="{{ content.blog_author.avatar }}"
         alt=""
         loading="lazy">
  </div>
          <div class="blog-author-hero__copy">
            <a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}"
       class="blog-listing-hero__author
              blog-author-hero__title
              blog-author-hero__title--small">
      {{ content.blog_author.display_name }}
    </a>
            <p class="blog-author-hero__subtitle">
              {{ content.blog_author.bio }}
            </p>
          </div>
        </div>
      </div>


      <!---------related posts----------->



      <div class="post-meta__related">

        <h5 class="post-meta__header">
          Related Posts:
        </h5>

        {% macro blog_post_formatter(post, index, count) %}
        <div class="post-meta__related-item">

          <div class="blog-card-sm" onclick="location.href='{{ post.absolute_url}}'">
            <div class="blog-card-sm__img-wrap">
              <img src="{{ post.post_list_summary_featured_image }}" class="blog-card-sm__img" aria-label="{{ post.name }}"/>
            </div>

              <div class="blog-card-sm__data-wrap">


                <p class="blog-card-sm__title bold">
                  {{ post.name }}
                </p>
                <div class="blog-card-sm__data-lower">
                  {% if post.topic_list %}
                  {% for topic in post.topic_list %}
                  {% if loop.index == 1 %}
                  <a class="blog-card-sm__tag-label tag-label"
                                  href="/blog/tag/{{ topic.slug }}">
                                <p class="bold tag-label__text">
                                  {{ topic.name }}
                                </p>
                              </a>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </div>


              </div>




            </div>
          </div>

          {% endmacro %}

          {% set feature_topic = module.featured_tag %}
          {% set featured = blog_recent_tag_posts('default', feature_topic, 3) %}


          <div class="post-meta__related-card-grid">
            {% related_blog_posts, limit=3, post_formatter="blog_post_formatter" %}
          </div>


        </div>
      </div>

    </div>
</section>