<!-- module html  -->
<section class="bg-charcoal-2 dark-mode">
    <div class="tab-window">
        <div class="tab-window__title">
            <div class="tab-window__headline">
                <h2>
                    {{ module.headline }}
                </h2>
            </div>

        </div>
        <div class="tabs tabs__tab-bar">
            {% for item in module.tabs %}
            <div class="tabs__tab
        {% if loop.index == 1 %} active {% endif %}
            ">
                <h5 class="tabs__label">{{ item.labelText }}</h5>
            </div>
            {% endfor %}

        </div>
        <div class="tab-window__window">
            {% for item in module.tabs %}
            <div class="tab-window__feature
        {% if loop.index == 1 %} active {% endif %}
            ">
                <div class="tab-window__media-wrapper">
                    {{item.media_type}}

                    {% if item.media_type == "image" %} 
                    <img src="{{ item.media_file }}" alt="{{ item.img-alt }}" class="tab-window__media">
                     {% endif %} 
                    {% if item.media_type == "video" %}
                        <video class="hero-halfsies__vid" autoplay="autoplay" loop="loop" playsinline="playsinline" muted="true" >
                    <source
                        src="{{ item.media_file }}"
                        type="video/mp4">
                </video>
                    {% endif %}
                </div>
                    <div class="tab-window__text">
                        <h5>
                            {{ item.description}}
                        </h5>
                    </div>
                </div>

                {% endfor %}
            </div>
</section>