<div class="new-home-hero-wrapper">
  

<section class="homepage-hero">
  <div class="homepage-hero__left">
    <div class="homepage-hero__text">
      <h1>{{ module.home_h1 }}</h1>
      <div class="divider-line divider-line--horizontal"></div>
      <h4>{{ module.home_h2 }}</h4>
      <div class="homepage-hero__cta-block">
        {% if module.home_cta %}
        <a href="{{ module.home_cta_link.url.href }}" {% if module.home_cta_link.open_in_new_tab %}target="_blank" {% endif %} 
           id="homepage-hero__cta-1">
          <button class="btn">
            <h3 class="btn__content">{{ module.home_cta }}</h3>
          </button>
        </a>
        {% endif %}
        
        {% if module.home_cta2 %}
        <a href="{{ module.home_cta_link2.url.href }}"{% if module.home_cta_link2.open_in_new_tab %}target="_blank" {% endif %}
           id="homepage-hero__cta-2">
          <button class="btn secondary">
            <h3 class="btn__content">{{ module.home_cta2 }}</h3>
          </button>
        </a>
        {% endif %}
      </div>

    </div>
  </div>
  <div class="homepage-hero__right">
    
    {{ module.hp_hero_img.src }}
    
    
    
    <img class="homepage-hero__img"
      src="{{ module.hp_hero_img }}" />
  </div>
</section>
  
  </div>