<section class="dark-mode bg-charcoal-3">
  <div class="three-cards">
    <div class="three-block__intro">


      {% if module.headline %}
      <div class="three-cards__headline">
        <h2>
          {{ module.headline }}
        </h2>
      </div>
      {% endif %}

      {% if module.subheadline %}
      <div class="three-cards__subheadline">
        <h5>
          {{ module.subheadline }}
        </h5>
      </div>
      {% endif %}
    </div>


    <div class="three-block__cards">


      <div class="card">
        <div class="card__title">
          <h4 class="">
            {{ module.block1_title }}
          </h4>
        </div>

        <div class="card__body">
          <p>
            {{ module.block1_body }}
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card__title">
          <h4 class="">
            {{ module.block2_title }}
          </h4>
        </div>

        <div class="card__body">
          <p>
            {{ module.block2_body }}
          </p>
        </div>
      </div>


      <div class="card">
        <div class="card__title">
          <h4 class="">
            {{ module.card3_title }}
          </h4>
        </div>
        <div class="card__body">
          <p>
            {{ module.card3_body }}
          </p>
        </div>
      </div>


    </div>
  </div>
  
</section>