<!-- module html  -->
<script src="{{ get_public_template_url("/v1/assets/js/lottie.js") }}" type="text/javascript"></script> 
<section class="
{{ module.bg_color }}

">
    <div class="feature-window">
        <div class="feature-window__upper">
           
                <h2 class="feature-window__headline">
                    {{ module.headline }}
                </h2>
            
        </div>
        <div class="feature-window__lower">
            <div class="feature-window__sidebar">
                {% for item in module.features %}
                <div class="feature-window__selector
                {% if loop.index == 1 %} active {% endif %}">
                    <h5 class="feature-window__da-name">
                        {{ item.da_name }}
                    </h5>
                </div>
                {% endfor %}
            </div>
            <div class="feature-window__divider"></div>
            <div class="feature-window__window">
                {% for item in module.features %}
                <div class="feature-window__detail-wrapper 
                {% if loop.index == 1 %} active {% endif %}">
                    <div class="feature-window__description">
                        <h5>
                            {{ item.description}}
                        </h5>
                    </div>
                    <div class="feature-window__img">
                        {% if item.type=="svg" %}
                        
                        {{ item.svg }}
                        {% else %}
                        <img src="{{ item.img.src }}" />
                        {% endif %}
                    </div>


                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>










