<section class="table__module-wrapper">
  
    <table class="table">
        <thead >
            <tr>
                {% for column in module.column_group %}
                <th class="table__head"><h3>{{ column.column_header }}</h3></th>
                {% endfor %}

            </tr>
          
        </thead>
        
        <tbody >
          {% for row in module.rows %}
            <tr>
            {% for item in row.items_in_row %}
                <td class="table__body"><p>{{ item.row_item }}</p></td>
               {% endfor %} 
            </tr>
          {% endfor %}

        </tbody>
    </table>
</section>