<!--
    templateType: error_page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base_404.html' %}






{% block main %}
{% include '/v1/markup/blocks_static/header.html' %}

<div class="flex-content flexy-flex">


    <section class="
dark-mode

    bg-charcoal-2
    
    ">
        <div class="headshot no-dark">
            <div class="headshot__dot-panel">
                <canvas id="dotCanvas"></canvas>
            </div>
            <div class="headshot__bottom-panel"></div>
            <div class="headshot__top-panel">
                <!-- <div class="headshot__img" ">
                <img src="https://static.independent.co.uk/2020/10/10/15/newFile-2.jpg?width=640" alt="">
                </div> -->
                <div class="headshot__name">
                    <h1 class="display-small">
                      We're Sorry!
                    </h1>
    
                    <div class="divider-line divider-line--horizontal divider-line--charcoal"></div> 

                    <h5>
                       The page you are looking for has been moved or deleted. If you need any help, feel free to <a href="mailto:contact@samasource.com"> contact us</a>.
                    </h5>

                    
    
    
    
                </div>
                
                <div class="btn__row headshot__btn-row">
                  <div class="btn__wrapper headshot__btn-wrapper">
                    <a href="/">
                    <button class="btn btn--secondary headshot__btn">
                                    <h3 class="headshot__btn-text  btn__text"> Get me Outta Here! </h3>
                              </button>
                            </a>
                  </div>
                  </div>
              </div>
    
    
               
    
                <div class="headshot__body">
                  
            </div>
        </div>
    </section>
    
    <section class=" dark-mode bg-charcoal-2 flex-filler">
    
    </section>




</div>





{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}