<!--
    templateType: blog
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}


{% include '/v1/markup/blocks_static/header.html' %}

{% module "module_20210202212350" path="/v1/markup/blog/blog-menu", label="blog-menu" %}

{% include '/v1/markup/blog/blog-post-hero.html' %}

{% include '/v1/markup/blog/blog-post-body.html' %}

{% include '/v1/markup/blog/post-meta.html' %}

{% include '/v1/markup/blocks_static/footer.html' %}


{% endblock %}
