<!--
    templateType: blog
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% include '/v1/markup/blocks_static/header.html' %}



{# --------------Blog Menu------------ #}


{% module "module_20210202213522" path="/v1/markup/blog/blog-menu", label="Blog Menu" %}


{# --------------for Tags------------ #}
{% if topic %}
    
    {% include '/v1/markup/blog/blog-hero-topic.html' %}



{# ---------for Authors--------------- #}

{% elif blog_author %} 

    {% include '/v1/markup/blog/blog-hero-author.html' %}


{# ---------------for Blog Home----------- #}

{% else %}
    {% include '/v1/markup/blog/blog-home-hero-v2.html' %}
  
   {% module "module_20210309083801" path="/v1/markup/blog/blog-featured-topic", label="blog-featured-topic" %}

{% endif %}




{% include '/v1/markup/blog/blog-listings-v2.html' %}

{% include '/v1/markup/blog/blog-pagnation.html' %} 

{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}