<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% module "module_20200924112622" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content bg-charcoal-1">
    {% module "module_2020092411289" path="/v1/markup/modules_from_blocks/hero_tallsplit_two", label="Hero" %}
    {% module "module_2020092411464" path="/v1/markup/modules_from_blocks/bodystatic_punchy_text_one", label="Punchy Text" %}
    {% module "module_2020544365563" path="/v1/markup/modules_from_blocks/bodymove_iconpanel_maxsix", label="Panel Slider" %}
    {% module "module_2020096437832" path="/v1/markup/modules_from_blocks/bodystatic_iconcopy_three", label="Icon Grid" %}

    <div class="section-wrap">
        {% module "module_20210806094446" path="/v1/markup/new_modules/bodystatic_splitimgtxt_two", label="bodystatic_splitimgtxt_two" %}
        {% module "module_20210806094505" path="/v1/markup/new_modules/bodystatic_splitimgtxt_two", label="bodystatic_splitimgtxt_two" %}
    </div>

    {% module "module_2032480965634" path="/v1/markup/modules_from_blocks/bodystatic_imgcard_three", label="Image Cards" %}
    {% module "module_2442134792373" path="/v1/markup/modules_from_blocks/bodystatic_panel_quote", label="Panel Quote" %}
    {% module "module_2455348028323" path="/v1/markup/modules_from_blocks/bodystatic_splitimgtxt_two", label="Split Text & Image" %}
    {% module "module_2032480238423" path="/v1/markup/modules_from_blocks/bodystatic_iconcopy_four", label="Recognitions" %}
    {% module "module_2032483234123" path="/v1/markup/modules_from_blocks/bodymove_map", label="Global Offices Map" %}
</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}