<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% module "module_20200924112622" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content">
    {% module "module_2020092411289" path="/v1/markup/modules_from_blocks/hero_tallsplit_two", label="Hero" %}
    {% module "module_2020092411464" path="/v1/markup/modules_from_blocks/bodystatic_punchy_text_one", label="Punchy Text" %}
    {% module "module_2020096437832" path="/v1/markup/modules_from_blocks/bodystatic_iconcopy_three", label="Icon Grid" %}
    {% module "module_2453245934201" path="/v1/markup/modules_from_blocks/bodystatic_splitimgtxt_two", label="Split Text & Quote with Image" %}
    {% module "module_2453232413553" path="/v1/markup/modules_from_blocks/bodystatic_splitimgtxt_two", label="Split Text & Quote" %}
    {% module "module_2442134792373" path="/v1/markup/modules_from_blocks/bodystatic_panel_quote", label="Panel Quote" %}
    {% module "module_2455348028323" path="/v1/markup/modules_from_blocks/bodystatic_splitimgtxt_two", label="Split Text & Image" %}
    {% module "module_2032480238423" path="/v1/markup/modules_from_blocks/bodystatic_iconcopy_four", label="Recognitions" %}
</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}