<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% module "module_20200924112622" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content bg-charcoal-1">
    <div class="section-wrap">
        {% module "module_202009241289" path="/v1/markup/new_modules/hero_tallsplittxtimg", label="Hero" %}
    </div>
    
    <div class="section-wrap">
        {% module "module_20200924114641" path="/v1/markup/new_modules/bodystatic_punchytext", label="Punchy Text" %}
        {# Add in Timeline Graphic #}
    </div>
   
   

    <div class="section-wrap">
        {% module "module_20210806094446" path="/v1/markup/new_modules/bodystatic_splitimgtxt_two", label="bodystatic_splitimgtxt_two" %}

    </div>

    <div class="section-wrap">
        {% module "module_20210806094505" path="/v1/markup/new_modules/bodystatic_splitimgtxt_two", label="bodystatic_splitimgtxt_two" %}
    </div>

    <div class="section-wrap">
        {% module "module_20205443655631" path="/v1/markup/new_modules/bodymove_iconpanel_maxsix", label="Panel Slider" %}
    </div>


    <div class="section-wrap">
        {% module "module_20210922235903" path="/v1/markup/new_modules/bodystatic_headlinecenter" label="bodystatic_headlinecenter" %}
        {% module "module_20210810140331" path="/v1/markup/new_modules/bodystatic_iconbulletcenter_three", label="bodystatic_iconbulletcenter_three" %}
        {% module "module_20210810140353" path="/v1/markup/new_modules/bodystatic_iconbulletcenter_three", label="bodystatic_iconbulletcenter_three" %}
    </div>
   

    

    <div class="section-wrap">
        {% module "module_20210806094305" path="/v1/markup/new_modules/bodystatic_splitimgtxt_two", label="bodystatic_splitimgtxt_two" %}
    </div>

    <div class="section-wrap">
        {% module "module_20210806094205" path="/v1/markup/new_modules/bodystatic_splitimgtxt_two", label="bodystatic_splitimgtxt_two" %}
    </div>


    <div class="section-wrap">
        {% module "module_20210923001159" path="/v1/markup/new_modules/bodystatic_headline", label="headline" %}
        {% module "module_20324832341231" path="/v1/markup/new_modules/bodymove_map", label="Global Offices Map" %}
        {% module "module_20210923001250" path="/v1/markup/new_modules/bodystatic_iconbullet_four", label="bodystatic_iconbullet_four" %}
    </div>
    <div class="section-wrap">
     {% module "module_20210923001623" path="/v1/markup/new_modules/bodystatic_headline", label="headline" %}
     {% module "module_20210923001803" path="/v1/markup/new_modules/bodystatic_iconcopycenter", label="bodystatic_iconcopycenter" %}

    </div>

</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}