<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% module "module_20200924112622" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content bg-charcoal-1">
    <div class="section-wrap">
        {% module "module_2020348012321" path="/v1/markup/new_modules/hero_splittextimg_two", label="Hero Split Two" %}
    </div>

    <section class="section-wrap">
    {% module "module_20210805171423" path="/v1/markup/modules_from_blocks/bodymove_flowcompare", label="bodymove_flowcompare" %}
    </section>

    <div class="section-wrap">
    {% module "module_20210805172100" path="/v1/markup/new_modules/bodystatic_table", label="bodystatic_table" %}
    {% module "module_20210806093837" path="/v1/markup/new_modules/bodystatic_table", label="bodystatic_table" %}
    <div class="section-wrap">
    
        {% module "module_2020348213121" path="/v1/markup/new_modules/bodystatic_medheadline_one", label="Headline" %}
        {% module "module_2023131234323" path="/v1/markup/new_modules/bodystatic_img_one", label="Image" %}
        {% module "module_2024241213212" path="/v1/markup/new_modules/bodystatic_iconcopy_four", label="Icon Copy Four" %}
    </div>
    <div class="section-wrap">
        {% module "module_2455342132317" path="/v1/markup/new_modules/bodystatic_splitimgtxt_two", label="Split Text & Image" %}
    </div>
    <div class="section-wrap">
        {% module "module_2455378095644" path="/v1/markup/new_modules/side_tabs", label="Sticky Scroll" %}
    </div>
    <div class="section-wrap">
        {% module "module_2455384624242" path="/v1/markup/new_modules/bodystatic_medheadline_one", label="Headline" %}
        {% module "module_2455318574924" path="/v1/markup/new_modules/bodystatic_iconbullet_four", label="Icon Bullets Row 1" %}
        {% module "module_2455318955564" path="/v1/markup/new_modules/bodystatic_iconbullet_four", label="Icon Bullets Row 2" %}
    </div>
    <div class="section-wrap">
        {% module "module_2455829842342" path="/v1/markup/new_modules/bodystatic_centerpanel", label="Center Panel" %}
    </div>
    <div class="section-wrap">
        {% module "module_2455806345832" path="/v1/markup/new_modules/center_block", label="Center CTA" %}
    </div>
</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}