<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% module "module_20200924112622" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content bg-charcoal-1">
    <div class="section-wrap">
        {% module "module_2020348012321" path="/v1/markup/new_modules/hero_splittextimg_two", label="Hero Split Two" %}
    </div>

    <div class="section-wrap">
    {% module "module_202108051714231" path="/v1/markup/new_modules/bodymove_flowcompare", label="bodymove_flowcompare" %}
    </div>

    <div class="section-wrap">
        {% module "module_20210809111339" path="/v1/markup/new_modules/bodystatic_headline", label="bosystatic_headline" %}

        {% module "module_202108060938371" path="/v1/markup/new_modules/bodystatic_table", label="bodystatic_table" %}

        {% module "module_20210809111755" path="/v1/markup/new_modules/bodystatic_closecta", label="bodystatic_closecta" %}

    </div>

    <div class="section-wrap">

        {% module "module_20210810112643" path="/v1/markup/new_modules/bodymove_splitimgtxt_maxsix", label="bodymove_splitimgtxt_maxsix" %}

    </div>

    <div class="section-wrap">
        {% module "module_20210807220606" path="/v1/markup/new_modules/bodystatic_headline", label="bodystatic_headline" %}

        {% module "module_20210807220311" path="/v1/markup/new_modules/bodystatic_bragbar", label="brag_bar" %}

    </div>

    <div class="section-wrap">
        {% module "module_20210807220822" path="/v1/markup/modules_from_blocks/bodystatic_avatarquote", label="bodystatic_avatarquote" %}
    </div>

    <div class="section-wrap">
        {% module "module_202108091117551" path="/v1/markup/new_modules/bodystatic_closecta", label="bodystatic_closecta" %}
    </div>

  
</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}