<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}
{% include '/v1/markup/blocks_static/pattern-bg2.html' %}

{% include '/v1/markup/blocks_static/header.html' %}

{% module "module_1552951663331272" path="/v1/markup/modules_from_blocks/page_title", label="page_title" %}


{% module "module_155267197218472" path="/v1/markup/modules_from_blocks/form_block", label="form_block" %}


{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}