<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}


{% module "module_20200915012742" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content">

{% module "module_20200915012723" path="/v1/markup/modules_from_blocks/hero_center_small", label="Hero" %}

{% module "module_20200915085601" path="/v1/markup/modules_from_blocks/split_contact", label="Contact Body" %}


</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}