<!--
    templateType: page
    isAvailableForNewContent: true
-->


{% extends '/v1/markup/blocks_static/base.html' %}

{% block top-insert %}

{% module "module_20201201110027" path="/v1/markup/modules_from_blocks/popdown_announcement", label="Pop Down" %}

{% endblock %}

{% block main %}

{% module "module_20201029143459" path="/v1/markup/modules_from_blocks/header", label="Header" %}


<div class="flex-content">

{% dnd_area "body_dnd_area" %}

{% end_dnd_area %}
</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}