<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}
{% include '/v1/markup/blocks_static/pattern-bg2.html' %}

{% include '/v1/markup/blocks_static/header-lp.html' %}

{% module "module_1567350766855115" path="/v1/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% module "module_1567351333837132" path="/v1/markup/modules_from_blocks/two_block_asset_lp", label="two_block_asset_lp" %}



{% include '/v1/markup/blocks_static/footer-lp.html' %}

{% endblock %}