<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block top-insert %}

{% module "module_20201201110027" path="/v1/markup/modules_from_blocks/popdown_announcement", label="Pop Down" %}

{% endblock %}

{% block main %}

{% module "module_20200824230923" path="/v1/markup/modules_from_blocks/header", label="Header" %}

<div class="flex-content bg-charcoal-1">

{% module "module_20201015140552" path="/v1/markup/modules_from_blocks/hero_home", label="Hero" %}
{% module "module_20200825101429" path="/v1/markup/modules_from_blocks/brag_bar", label="Brag Bar" %}


<div class="section-wrap">
    {% module "module_20210902154121" path="/v1/markup/new_modules/bodystatic_iconcopy_four", label="Value Props" %}
</div>

{% module "module_20201113111148" path="/v1/markup/modules_from_blocks/feature_window", label="Animation Feature" %}

{% module "module_20200917000907" path="/v1/markup/modules_from_blocks/panel_avatar_quote", label="Quote Baby" %}

{% module "module_20210615163112" path="/v1/markup/modules_from_blocks/panel_feature", label="panel_feature" %}

<div class="section-wrap">
    {% module "module_202106181002501" path="/v1/markup/new_modules/bodystatic_panelquote", label="panel_quote" %}
</div>



{% module "module_20200826133035" path="/v1/markup/modules_from_blocks/news_feature", label="Newsy News" %}

{% module "module_20200825155548" path="/v1/markup/modules_from_blocks/split_cta", label="CTA Bottoms" %}

</div>

{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}
