<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% module "module_20200820142013" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content">

{% module "module_20201022153703" path="/v1/markup/modules_from_blocks/hero_fifty_fifty", label="Hero" %}

{% module "module_20200806085147" path="/v1/markup/modules_from_blocks/feature_window", label="Feature Window" %}

{% module "module_20200914121407" path="/v1/markup/modules_from_blocks/icon_block", label="Icon Grid" %}



{% module "module_20200916232754" path="/v1/markup/modules_from_blocks/panel_avatar_quote", label="Quote Baby" %}

{% module "module_20200805204019" path="/v1/markup/modules_from_blocks/split_cta", label="Closing CTA" %}

</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}



