<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% module "module_20200820142013" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content">

{% module "module_20200818150341" path="/v1/markup/modules_from_blocks/two_block_hero", label="Hero" %}

{% module "module_20200805191842" path="/v1/markup/modules_from_blocks/three_block", label="3 Values" %}

{% module "module_20200806085147" path="/v1/markup/modules_from_blocks/feature_window", label="Feature Window" %}

{% module "module_20200811012803" path="/v1/markup/modules_from_blocks/panel_quote", label="Quote Baby" %}

{% module "module_20200805204019" path="/v1/markup/modules_from_blocks/split_cta", label="Closing CTA" %}

</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}



