<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}
{% include '/v1/markup/blocks_static/pattern-bg2.html' %}

{% include '/v1/markup/blocks_static/header.html' %}

{% module "module_155185803220924" path="/v1/markup/modules_from_blocks/page_hero", label="page_hero" %}

{% module "module_15686476078477" path="/v1/markup/modules_from_blocks/center_block", label="center_block" %}

{% module "module_15686476693978" path="/v1/markup/modules_from_blocks/three_block", label="three_block" %}

{% module "module_15686478656679" path="/v1/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% module "module_155189135087126" path="/v1/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_155189136810627" path="/v1/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_155240538713970" path="/v1/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_155240540382174" path="/v1/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_155240541071275" path="/v1/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_155189322794628" path="/v1/markup/modules_from_blocks/strip_block", label="strip_block" %}



{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}