<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% module "module_20200924112622" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content bg-charcoal-1">
    <div class="section-wrap">
        {% module "module_2020348012321" path="/v1/markup/new_modules/hero_splittextimg_two", label="Hero Split Two" %}
    </div>
    <div class="section-wrap">
        {% module "module_20203482131211" path="/v1/markup/new_modules/bodystatic_headline", label="Headline" %}
        {% module "module_2024241213212" path="/v1/markup/new_modules/bodystatic_iconcopy_four", label="Icon Copy Four" %}
    </div>
    <div class="section-wrap">
        {% module "module_2455342132675" path="/v1/markup/new_modules/bodystatic_splitimgtxt_two", label="Split Text & Image" %}
    </div>
    <div class="section-wrap">
        {% module "module_24553780956441" path="/v1/markup/new_modules/bodymove_stickysidescroll", label="Sticky Scroll" %}
    </div>
    <div class="section-wrap">
        {% module "module_24553846242421" path="/v1/markup/new_modules/bodystatic_headline", label="Headline" %}
        {% module "module_2455318574924" path="/v1/markup/new_modules/bodystatic_iconbullet_four", label="Icon Bullets Row 1" %}
        {% module "module_2455318955564" path="/v1/markup/new_modules/bodystatic_iconbullet_four", label="Icon Bullets Row 2" %}
    </div>
    <div class="section-wrap">
        {% module "module_2455829842342" path="/v1/markup/new_modules/bodystatic_centerpanel", label="Center Panel" %}
    </div>
    <div class="section-wrap">
        {% module "module_20210817221148" path="/v1/markup/new_modules/bodystatic_headsubcta", label="bodystatic_headsubcta" %}
    </div>
</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}