<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}


{% module "module_20200925104501" path="/v1/markup/modules_from_blocks/header", label="Header" %}

<div class="flex-content">


{% module "module_20200925104607" path="/v1/markup/modules_from_blocks/hero_center", label="Hero" %}

    {% module "module_20200928114543" path="/v1/markup/modules_from_blocks/panel_feature", label="About" %}


{% module "module_20200925141255" path="/v1/markup/modules_from_blocks/lead_team", label="Lead Team" %}

{% module "module_20200928111455" path="/v1/markup/modules_from_blocks/panel_quote", label="Quote" %}

    {% module "module_20200928114443" path="/v1/markup/modules_from_blocks/split_cta", label="Join Us CTA" %}

</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}