<!--
    templateType: password_prompt_page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}


{% block main %}
{% include '/v1/markup/blocks_static/header.html' %}

<div class="flex-content flexy-flex">


    <section class="
dark-mode

    bg-charcoal-2
    
    ">
        <div class="headshot no-dark">
            <div class="headshot__dot-panel">
                <canvas id="dotCanvas"></canvas>
            </div>
            <div class="headshot__bottom-panel"></div>
            <div class="headshot__top-panel">
                <!-- <div class="headshot__img" ">
                <img src="https://static.independent.co.uk/2020/10/10/15/newFile-2.jpg?width=640" alt="">
                </div> -->
                <div class="headshot__name">
                    <h1 class="display-small">
                      Password Required
                    </h1>
    
                    <div class="divider-line divider-line--horizontal divider-line--charcoal"></div> 

                    <h4>
                      Please enter a password to view page content:
                    </h4>
                
                
                    

                    
    
    
    
                </div>
                
                <div class="form-wrapper center-block__form center-block__form--password ">
                  {% password_prompt "my_password_prompt" submit_button_text='Submit', bad_password_message='<p class="bad-password">Sorry, please try again.</p>', label='Password Prompt' no_wrapper=True %}
                </div>
    
    
               
    
                <div class="headshot__body">
                  
            </div>
        </div>
    </section>
    
    <section class=" dark-mode bg-charcoal-2 flex-filler">
    
    </section>




</div>





{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}




<section class="center-block center-block--password_prompt ">

  <div class="label-tab">
    <h3>
      Password Required
    </h3>
  </div>

  <div class="center-content">
    <h4>
      Please enter a password to view page content:
    </h4>


    <div class="form-wrapper center-block__form center-block__form--password ">
      {% password_prompt "my_password_prompt" submit_button_text='Submit', bad_password_message='Sorry, please try again.\n', label='Password Prompt' no_wrapper=True %}
    </div>
  </div>

</section>