<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}


{% module "module_20200917153816" path="/v1/markup/modules_from_blocks/header", label="Header" %}
<div class="flex-content">

{% module "module_20200917153830" path="/v1/markup/modules_from_blocks/two_block_hero", label="Hero" %}

<div class="section-wrap">
    {% module "module_20211101115618" path="/v1/markup/new_modules/bodystatic_headline", label="bodystatic_headline" %}

    {% module "module_20211101115657" path="/v1/markup/new_modules/bodystatic_iconbullet_four", label="bodystatic_iconbullet_four" %}

</div>





{% module "module_20200917154123" path="/v1/markup/modules_from_blocks/two_block", label="Big Idea #1" %}

 {% module "module_20200917154133" path="/v1/markup/modules_from_blocks/two_block", label="Big Idea #2" %}

{% module "module_20200917154142" path="/v1/markup/modules_from_blocks/two_block", label="Big Idea #3" %}







{% module "module_20200917154229" path="/v1/markup/modules_from_blocks/panel_avatar_quote", label="Quote" %}

 {% module "module_20200917160252" path="/v1/markup/modules_from_blocks/split_cta", label="Closer CTA" %}



</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}