<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}
{% include '/v1/markup/blocks_static/pattern-bg2.html' %}

{% include '/v1/markup/blocks_static/header.html' %}

{% module "module_15669469808814" path="/v1/markup/modules_from_blocks/page_hero", label="page_hero" %}

{% module "module_15669469881855" path="/v1/markup/modules_from_blocks/center_block", label="center_block" %}

{% include '/v1/markup/blocks_static/cv-table.html' %}

{% module "module_156694995083444" path="/v1/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% module "module_156695035956946" path="/v1/markup/modules_from_blocks/strip_block", label="strip_block" %}

{% module "module_20200727213016" path="/v1/markup/modules_from_blocks/brag_bar", label="brag_bar" %}

{% module "module_156748010889244" path="/v1/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}