<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}

{% include '/v1/markup/blocks_static/header-lp.html'%}
<div class="flex-content bg-charcoal-1">
    <div class="section-wrap">
        {% module "module_202009241289" path="/v1/markup/new_modules/hero_splittextimg", label="Hero" %}

    </div>
    <div class="section-wrap">
        {% module "module_20211010192822" path="/v1/markup/new_modules/bodystatic_punchytext", label="punchy text" %}
        {% module "module_20211126074424" path="/v1/markup/new_modules/bodystatic_iconcopy_three", label="bodystatic_iconcopy_three" %}
        
    </div>
   

    <div class="section-wrap">
        {% module "module_20211011091955" path="/v1/markup/new_modules/bodymove_tabs", label="bodymove_tabs" %}
    </div>

    <div class="section-wrap bg-white" id="form">
        {% module "module_20211010193351" path="/v1/markup/modules_from_blocks/split_contact", label="split_contact" %}
     </div>




</div>
{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}