<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block top-insert %}

{# {% module "module_20200125102523" path="/v1/markup/modules_from_blocks/popdown_announcement", label="popdown_announcement" %} #}

{% endblock %}

{% block main %}

{% module "module_20200824230923" path="/v1/markup/modules_from_blocks/header", label="Header" %}

{%include '/v1/markup/blocks_static/animation-sample.html' %}


{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}