{% if module.two_block_body_big %}

<section class="
{% if module.darkmode == true %}
dark-mode
{{ module.bg_color }}
{% endif %} ">
  <div class="grid-wrapper">
    <div class="two-block {{ module.image_position }}">
      <div class="two-block__copy">

        <div class="two-block__headline">
          <h2>
            {{ module.two_block_title }}
          </h2>
        </div>
        <div class="two-block__subheadline">
          <h5>
            {{ module.two_block_body_big }}
          </h5>
        </div>

        {% if module.primary_link.type=="cta" %}

{# CTA Markup #}

            {% if module.primary_link.cta1 %}
            <div class="btn__row">
              {% if module.primary_link.cta1_type==true %}


              <div class="hyperlink__wrapper icon-block__link">
                <div class="hyperlink__ahref">
                  {% cta guid="{{ module.primary_link.cta1 }}" %}

                </div>
                <div class="hyperlink__arrow ">
                  <svg version="1.1" id="Layer_1" focusable="false" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 518 435.8" xml:space="preserve">
                    <style type="text/css">

                    </style>
                    <path class="st0" d="M511.3,201.7L318.1,8.4c-11.2-11.2-29.5-11.2-40.7,0c-11.2,11.2-11.2,29.5,0,40.7l141.4,141.4H24.9
                                    C11.1,190.5,0,202.8,0,217.9v0c0,15.1,11.1,27.4,24.9,27.4h393.9L277.4,386.7c-11.2,11.2-11.2,29.5,0,40.7v0
                                    c11.2,11.2,29.5,11.2,40.7,0l193.3-193.3C520.3,225.2,520.3,210.6,511.3,201.7z" />
                  </svg>
                </div>
              </div>
              {% else %}

              <div class="btn__wrapper">
                <button class="btn">
                                                {% cta guid="{{ module.primary_link.cta1 }}" %}
                                </button>
              </div>
              {% endif %}
            {% endif %}

          {% elif module.primary_link.type=="link" %}
{# Link Markup #}

            {% if module.primary_link.url1 %}
            <div class="btn__row">
              {% if module.primary_link.cta1_type==true %}


              <a href="{{module.primary_link.url1}}" class="hyperlink__wrapper icon-block__link">
                <div class="hyperlink__ahref">
                  <h5 class="hyperlink__text"> dd007 link </h5>
                </div>
                <div class="hyperlink__arrow ">
                  <svg version="1.1" id="Layer_1" focusable="false" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 518 435.8" xml:space="preserve">
                    <style type="text/css">

                    </style>
                    <path class="st0" d="M511.3,201.7L318.1,8.4c-11.2-11.2-29.5-11.2-40.7,0c-11.2,11.2-11.2,29.5,0,40.7l141.4,141.4H24.9
                                    C11.1,190.5,0,202.8,0,217.9v0c0,15.1,11.1,27.4,24.9,27.4h393.9L277.4,386.7c-11.2,11.2-11.2,29.5,0,40.7v0
                                    c11.2,11.2,29.5,11.2,40.7,0l193.3-193.3C520.3,225.2,520.3,210.6,511.3,201.7z" />
                  </svg>
                </div>
              </a>
              {% else %}

              <a href="{{module.primary_link.url1}}" class="btn__wrapper">
                <button class="btn">
                                                <h3 class="btn__text">dd007 button</h3>
                                </button>
                              </a>
              {% endif %}
            {% endif %}
          {% endif %}



          {# Secondary Link #}
          {% if module.secondary_link.cta2 %}
          <div class="btn__wrapper">
            <button class="btn btn--secondary">
                                          {% cta guid="{{ module.cta2 }}" %}
                                        </button>
          </div>
          {% endif %}
        </div>

        {% endif %}


      </div>



      <div class="two-block__img">
        <div class="two-block__panel"></div>
        <img src="{{ module.img.src }}" alt="{{ module.img.alt}}" class=""/>

  </div>
      </div>
    </div>

</section>
{% endif %}