<section class="
{% if module.top_padding == false %}
    no-top-pad
{% endif %}
">
  <div class="list-block">

  {% if module.intro_copy %}
  <div class="list-block__intro">
    <h2>
      {{ module.intro_copy }}
    </h2>
  </div>
  {% endif %}


  <ul class="icon-list list-block__wrapper">
    
    {% for item in module.list_item %}
    
     <li>
      <div class="icon-list__row">
        <img src="{{ item.list_icon.src }}"
          class="icon-list__icon">
        <h4 class="icon-list__copy icon-list__title-copy bold">
          {{ item.list_title }}
        </h4>
      </div>
      <div class="icon-list__row">
        <p class="icon-list__copy icon-list__body-copy">
         {{ item.list_copy }}
        </p>
      </div>
    </li>

{% endfor %}
    
   
  
  
  
  </ul>

</div>

</section>