{% set tableID = 2681033 %}  

{% set table = hubdb_table_rows(tableID, "&orderBy=-date")%}

{# <section class="featured-press reflect">
  <div class="label-tab">
    <h3>Featured Press</h3>
  </div>

  <div class="featured-press__press-content">
    {% for row in table %}{% if row.featured==1 %}
    
    <a href="{{row.article_url}}" class="featured-press__press-link">
      <div class="press-card" style="background-image:url({{row.background.url}})">
        <div class="press-card__title">
          <h5>"{{row.headline}}"</h5>
          <div class="divider-line divider-line--horizontal divider-line--negative"></div>
          <h3>{{row.date|datetimeformat('%B %e, %Y')}}</h3>

        </div>
        <div class="press-card__pub-wrapper">
          <div class="press-card__pub-card">


            <img src="{{row.publication_icon.url}}" />
          </div>
        </div>
      </div>
    </a>

    {% endif %}
{% endfor %} 


  </div>

</section> #}

<section class="">
    <div class="tabs tabs__tab-bar">
       
        <div class="press-table-tab__category tabs__tab active ">
            <h5 class="tabs__label">In the News</h5>
        </div>
        <div class="press-table-tab__category tabs__tab ">
            <h5 class="tabs__label">Press Releases</h5>
        </div>
        <div class="tabs__tab-underline"></div>
       
    </div>
</section>



<section class="">
  <div class="press-table">
{% for row in table %}
  <a href="{{row.article_url}}" type="{{row.type}}" class="press-table__press-link">
    <div class="press-table__title">
      <p>{{row.date|datetimeformat('%B %e, %Y')}}</p>
      <div class="divider-line divider-line--horizontal"></div>

      <h5>"{{row.headline}}"</h5>


    </div>

    <div class="press-table__pub-logo">
      <img src="{{row.publication_icon.url}}" />
    </div>
    
  </a>

{% endfor %} 
</div>

</section>


