.card {
    border-radius: 3px;
    background-color: var(--color-charcoal-7);

    &__inner {
        background: var(--color-white);
        border: 2px solid;
        border-radius: 3px;
        border-color: var(--color-charcoal-1);
        padding: 2rem 1.5rem;
        transform: translate(.5rem, -.5rem);
        transition-property: box-shadow, transform, color, background-color, border-bottom-color, fill, visibility;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        height: 100%;
        

        
        

        &--hover:hover {
            transform: translate(1rem, -1rem);
            .card__link {
                    p{
                    color: var(--color-charcoal-4);
                    }
                    .hyperlink__arrow svg {
                        fill: var(--color-charcoal-4);
                    }
              
              
            }
        }
    }

    a .card__inner {
        color: var(--color-charcoal-1);
    }

    &__link {
        display: flex;
        align-content: center;
        p{
            
            display: inline-block;
        transition: 300ms all;
        color: var(--color-charcoal-2);
        font-weight: 700;
        text-decoration: underline var(--color-charcoal-6);
        line-height:1;
        }
        .hyperlink__arrow {
            margin-left: .5rem;
            margin-top: -1px;
             svg{
                width:12px;
             }
        }
    
    }

    &__icon{
        margin-bottom: 1rem;
    } 

    


    &__title {
        margin-bottom: 1rem;
    }

    &__body {
        margin-bottom: 2rem;

      
    }




    &--dark {
        background-color: var(--color-charcoal-3);
    }

    &--yellow-bg {
        @include breakpoint (w-med) {
            margin: 0 .75rem;
            padding: 1.5rem .75rem;
        }

        &::before {

            content: "";
            height: 100%;
            width: 100%;
            background-color: $color-sunshine;
            border: 0.25rem solid $color-sunshine;
            border-radius: 0 0 0 3rem;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            transform: translate(1rem, 1rem);
        }
    }




}


.dark-mode .card {
    color: var(--color-charcoal-1);
    background-color: var(--color-charcoal-4);

    & .hyperlink__text {
        color: var(--color-charcoal-3);

    }

    & .hyperlink__arrow svg {
        fill: var(--color-charcoal-1);
    }

    .hyperlink__wrapper:hover {

        .hyperlink__arrow svg {
            fill: var(--color-charcoal-1);
        }

        .hyperlink__text {
            color: var(--color-charcoal-1);
        }

    }

}