.card {
    background:var(--color-white);
    border: 2px solid;
    border-radius:3px;
    border-color:var(--color-charcoal-1);

    padding: 2rem 1.5rem;
    box-shadow: -.5rem .5rem var(--color-charcoal-6);

    
    &__title{
        margin-bottom: 2rem;
    }

    &__body {

    }
    
    
    
    
    &--dark{
        background-color:var(--color-charcoal-3);
    }

    &--yellow-bg{
        @include breakpoint (w-med){
            margin: 0 .75rem;
            padding:1.5rem .75rem;
        }
        &::before{
            
                content: "";
                height: 100%;
                width: 100%;
                background-color: $color-sunshine;
                border: 0.25rem solid $color-sunshine;
                border-radius: 0 0 0 3rem;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                transform:translate(1rem, 1rem);
        }
    }

    

    
}

