.divider-line {
    display: inline-block;
    width: .125rem;
    position:relative;
    background-color: $color-sunshine;

    &--horizontal {
        
        height: .125rem;
        width: 6rem;
        margin-bottom: 1rem;
        margin-top:.8rem;
        ;
    }

    &--vertical{
        display: inline-flex;
        
    }

    &--right-align {
        margin-left:auto;
    }

    &--negative {
        
        &::before {
            background-color: $color-charcoal-7; 
        }
        &::after {
            background-color: $color-sunshine;
        }
    }

    &--no-shadow {
        &::before{
            display:none;
        }
    }
} 