<section class="two-block two-block--longform">
  <div class="copy ">
    {% if module.asset_img.src %}
	<img src="{{ module.asset_img.src }}" class="asset-img" />
    {% endif %}
    
    <h1>
     {{module.title_block}}
    </h1>
    <h5 class="copy-block">
      {{ module.text_block1 }}
    </h5>
    <h5 class="copy-block">
      {{ module.text_block2 }}
    </h5>
    <ul class="icon-list">
      
    {% if module.bullet_text2 %}
      <li class="icon-list__row">
        <img src="{{ module.bullet_icon1.src }}" class="icon-list__icon">
        <h5 class="icon-list__copy bold">{{ module.bullet_text1 }}</h5>
      </li>
      {% endif %}
  
       {% if module.bullet_text2 %}
      <li class="icon-list__row">
        <img src="{{ module.bullet_icon2.src }}" class="icon-list__icon">
        <h5 class="icon-list__copy bold">{{ module.bullet_text2 }}</h5>
      </li>
      {% endif %}
      {% if module.bullet_text3 %}
      <li class="icon-list__row"> 
        <img src="{{ module.bullet_icon3.src }}" class="icon-list__icon">
        <h5 class="icon-list__copy bold">{{ module.bullet_text3 }}</h5>
      </li>
      {% endif %}
      
      {% if module.bullet_text4 %}
      <li class="icon-list__row"> 
        <img src="{{ module.bullet_icon4.src }}" class="icon-list__icon">
        <h5 class="icon-list__copy bold">{{ module.bullet_text4 }}</h5>
      </li>
      {% endif %}
      
      {% if module.bullet_text5 %}
      <li class="icon-list__row"> 
        <img src="{{ module.bullet_icon5.src }}" class="icon-list__icon">
        <h5 class="icon-list__copy bold">{{ module.bullet_text5 }}</h5>
      </li>
      {% endif %}


    </ul>
  </div>
  <div class="card card--dark card--yellow-bg">

    <div class="form-wrapper form-wrapper--dark ">
     {% form
	form_to_use="{{ module.contact_form.form_id }}"
	response_response_type="{{ module.contact_form.response_type }}"
	response_message="{{ module.contact_form.message }}"
	response_redirect_id="{{ module.contact_form.redirect_id }}"
	response_redirect_url="{{module.contact_form.redirect_url}}"
	gotowebinar_webinar_key="{{ module.contact_form.gotowebinar_webinar_key }}"
%}
    </div>
  </div>


  
</section>