<!-- module html  -->

{% set prodtab = 2614739 %}

{% set devtab = 2609928 %}

{% set dataz = prodtab %}

{% set table = hubdb_table(dataz) %}

{% set rows = hubdb_table_rows(dataz, "" ) %}


<section class="offering-grid ">

    <!--Header Row-->
    <div class="offering-grid__plan offering-grid--filler">
        <h3>Starter</h3>
        <div class="divider-line divider-line--horizontal"></div>
        <p>
            {{module.low_text}}
        </p>
        <div class="offering-grid__btn">
            {% cta guid="{{ module.low_cta }}" %}
        </div>
    </div>
    <div class="offering-grid__plan ">
        <h3>Grow</h3>
        <div class="divider-line divider-line--horizontal"></div>
        <p>
            {{module.mid_text}}
        </p>
        <div class="offering-grid__btn">
            {% cta guid="{{ module.mid_cta }}" %}
        </div>
    </div>
    <div class="offering-grid__plan offering-grid--filler">
        <h3>Enterprise</h3>
        <div class="divider-line divider-line--horizontal"></div>
        <p>
            {{module.high_text}}
        </p>
        <div class="offering-grid__btn">
            {% cta guid="{{ module.high_cta }}" %}
        </div>
    </div>

    <!--loop for each category-->
    {% for tool in rows|groupby('category') %}
    {% set name = tool.grouper|split("'") %}

    <div class="offering-grid__category">
        <h3>{{ name[1] }} </h3>
    </div>
    <div class="offering-grid--filler"></div>
    <div></div>
    <div class="offering-grid--filler"></div>

    {% for row in tool.list|sort(False, False, 'low.name')|sort(False, False, 'mid.name')|sort(False, False, 'high.name') %}
    <div class="offering-grid__feature   ">
        <p>{{ row.feature }}</p>
    </div>
    <div class="offering-grid__check offering-grid--filler">
        {% if row.low.name=="1-Yes" %}
        <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
            {% elif row.low.name=="2-Add-On"%}
        <p>Add-On</p>
        {% endif %}
    </div>
    <div class="offering-grid__check">
        {% if row.mid.name=="1-Yes" %}
        <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
            {% elif row.mid.name=="2-Add-On"%}
        <p>Add-On</p>
        {% endif %}
    </div>
    <div class="offering-grid__check offering-grid--filler">
        {% if row.high.name=="1-Yes" %}
        <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
            {% elif row.high.name=="2-Add-On"%}
        <p>Add-On</p>
        {% endif %}
    </div>
    {% endfor %}
    {% endfor %}

</section>


<!------------------------MOBILE------------------------------->

<section class="offering-mobile">
    
    <div class="offering-mobile__card">
        <div class="offering-mobile__plan">
            <h3>Starter</h3>
            <div class="divider-line divider-line--horizontal"></div>
            <p>{{module.low_text}}</p>
        </div>
        
            <!--loop for each category-->
            {% for tool in rows|rejectattr('category.name', 'equalto', 'Extensions')|selectattr('low.name', 'containing', '1-Yes')|groupby('category') %}
            {% set name = tool.grouper|split("'") %}

            <div class="offering-mobile__category">
                <h6 class="bold">
                    {{ name[1] }}
                </h6>
            </div>

            <div class="offering-mobile__feature-wrapper">
                {% for row in tool.list|selectattr('low.name', 'containing', '1-Yes') %}

                <div class="offering-mobile__check">
                    <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
                </div>
                <div class="offering-mobile__feature">
                    <p>{{ row.feature }}</p>
                </div>
                {% endfor %}
            </div>
           
            

            {%endfor%}

            <div class="offering-mobile__category">
                <h6 class="bold"> Available Add-Ons </h6>
            </div>
            <div class="offering-mobile__feature-wrapper">
            {% for addys in rows|selectattr('low.name', 'containing', '2-Add-On') %}

                <div class="offering-mobile__check">
                    <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
                </div>
                <div class="offering-mobile__feature">
                    <p> {{ addys.feature }}</p>
                </div>

            {% endfor %}
            </div>

            
        
        <div class="offering-mobile__btn">
            {% cta guid="{{ module.low_cta }}" %}
        </div>
    </div>


    <div class="offering-mobile__card">
        <div class="offering-mobile__plan">
            <h3>Grow</h3>
            <div class="divider-line divider-line--horizontal"></div>
            <p>{{module.mid_text}} Starter features plus:</p>
        </div>
        
            <!--loop for each category-->
            {% for tool in rows|rejectattr('category.name', 'equalto', 'Extensions')|rejectattr('low.name','containing','1-Yes')|selectattr('mid.name', 'containing', '1-Yes')|groupby('category') %}
            {% set name = tool.grouper|split("'") %}

            <div class="offering-mobile__category">
                <h6 class="bold">
                    {{ name[1] }}
                </h6>
            </div>

            <div class="offering-mobile__feature-wrapper">
                {% for row in tool.list|selectattr('mid.name', 'containing', '1-Yes')|rejectattr('low.name', 'containing', '1-Yes') %}

                <div class="offering-mobile__check">
                    <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
                </div>
                <div class="offering-mobile__feature">
                    <p>{{ row.feature }}</p>
                </div>
                {% endfor %}
            </div>
           
            

            {%endfor%}

            <div class="offering-mobile__category">
                <h6 class="bold"> Available Add-Ons </h6>
            </div>
            <div class="offering-mobile__feature-wrapper">
            {% for addys in rows|rejectattr('low.name', 'containing', '2-Add-On')|selectattr('mid.name', 'containing', '2-Add-On') %}

                <div class="offering-mobile__check">
                    <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
                </div>
                <div class="offering-mobile__feature">
                    <p> {{ addys.feature }}</p>
                </div>

            {% endfor %}
            </div>

            
        
        <div class="offering-mobile__btn">
            {% cta guid="{{ module.mid_cta }}" %}
        </div>



    </div>

    <div class="offering-mobile__card">
        <div class="offering-mobile__plan">
            <h3>Enterprise</h3>
            <div class="divider-line divider-line--horizontal"></div>
            <p>{{module.high_text}} Grow features plus: </p>
        </div>
        
            <!--loop for each category-->
            {% for tool in rows|rejectattr('category.name', 'equalto', 'Extensions')|rejectattr('low.name','containing','1-Yes')|rejectattr('mid.name', 'containing', '1-Yes')|selectattr('high.name', 'containing', '1-Yes')|groupby('category') %}
            {% set name = tool.grouper|split("'") %}

            <div class="offering-mobile__category">
                <h6 class="bold">
                    {{ name[1] }}
                </h6>
            </div>

            <div class="offering-mobile__feature-wrapper">
                {% for row in tool.list|selectattr('high.name', 'containing', '1-Yes')|rejectattr('mid.name', 'containing', '1-Yes') %}

                <div class="offering-mobile__check">
                    <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
                </div>
                <div class="offering-mobile__feature">
                    <p>{{ row.feature }}</p>
                </div>
                {% endfor %}
            </div>
           
            

            {%endfor%}



            <!-- <div class="offering-mobile__category">
                <h6 class="bold"> Available Add-Ons </h6>
            </div>
            <div class="offering-mobile__feature-wrapper">
            {% for addys in rows|rejectattr('mid.name', 'containing', '2-Add-On')|selectattr('high.name', 'containing', '2-Add-On') %}

                <div class="offering-mobile__check">
                    <img src="https://www.samasource.com/hubfs/custom/assets/static-assets/img/icons/checkmark_2-layer.svg"/>
                </div>
                <div class="offering-mobile__feature">
                    <p> {{ addys.feature }}</p>
                </div>

            {% endfor %}
            </div> -->

            
        
        <div class="offering-mobile__btn">
            {% cta guid="{{ module.high_cta }}" %}
        </div>



    </div>

</section>







