<!-- module html  -->

<section class="dark-mode bg-charcoal-1">
    <div class="two-block-hero">
        <div class="two-block-hero__copy">
            <div class="two-block-hero__headline">
                <h1>
                    {{module.headline}}
                </h1>
            </div>
            <div class="divider-line divider-line--horizontal divider-line--negative"></div>
            <div class="two-block-hero__subheadline">
                <h5>
                    {{module.subheadline}}
                </h5>
            </div>


            {% if module.cta1 %}
            <div class="two-block-hero__btn-row">
                <div class="btn__row">
                    {% if module.cta1 %}
                    <div class="btn__wrapper">
                        <button class="btn">
                            {% cta guid="{{ module.cta1 }}" %}
                      </button>
                    </div>
                    {% endif %}
                    {% if module.cta2 %}
                    <div class="btn__wrapper">
                        <button class="btn btn--secondary">
                          {% cta guid="{{ module.cta2 }}" %}
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% endif %}
        </div>
        <div class="two-block-hero__img">
            <img src="{{ module.image.src}}" alt="module.img.alt" />
        </div>

    </div>
</section>