<!-- module html  -->
<section class="section--sm
{% if module.darkmode == true %}
    dark-mode
    {{ module.bg_color }}
    {% endif %}
">

        <div class="hero-center-small">
            <div class="hero-center-small__headline">
                <h1>
                    {{module.headline}}
                </h1>
            </div>
            {% if module.subheadline %}
            <div class="hero-center-small__subheadline">
                <h5>
                    {{module.subheadline}}
                </h5>
            </div>
            {%endif%}
            
        </div>


</section>