.article-divider {
    @extend %grid-section;
    position: relative;

    &__container {
        grid-column: 2/ span 2;
        min-height: 20rem;
        grid-row:1;
        overflow: hidden;
        width: 100%;
        margin-left: auto;
        background-size: cover;
        background-position: center;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);

        

        @include breakpoint(w-med) {
            min-height: 15rem;
            height: 38vh;
        }

    }


    &__copy-wrapper {
        grid-column: 2;
        grid-row: 1;
        align-self:end;
        transform:translate(0, 3rem);
        @extend %grid;
        @include breakpoint(w-sm){
            margin: 0;
            max-width: 100%;    
        }
    }
    

    &__copy {
        grid-column: 5 /span 8;
        background: var(--color-charcoal-2);
        padding:3rem;
        color: $color-white;
        text-align: right;
        h2{
            font-size:2.5rem;
            @include breakpoint(w-med) {
                font-size: calc(1rem + 2.3vw);
              }
        }
        @include breakpoint(w-sm){
            padding: 2rem;
        }
    }

    &--flipped {

        .article-divider__container {
            grid-column: 1 /span 2;

        }

        .article-divider__copy {
            grid-column: 1/ span 8;
        }

    }
    @include breakpoint(w-sm){
        padding-bottom: 6rem;
    }
}