.big-quote {
    @extend %grid-12;
    
    text-align: right;
    &__quote{
        grid-column: 2 / span 11;
        
    
    }
    &__author {
        margin-top: 3rem;
        grid-column: 2 / span 11;
        
    }

}