.big-display {
    @extend %grid-12;

    grid-column: 1 / span 12;
    text-align: left;
    row-gap: 3rem;


    &__headline {
        grid-column: span 10
    }

    &__subheadline {
        color:var(--color-charcoal-4);
        grid-column: 3 / span 10;
        grid-row:2;
    }
   

}