.bodystatic_iconcopy_four{
    @extend %grid-12; 
    align-items: baseline;
    row-gap: 3rem;;

    @include breakpoint(w-sm){
        width: 100%;
    }
    h2{
        grid-column: span 12;
        margin-bottom: 3rem;
        @include breakpoint(w-sm){
            margin-bottom: 0;
        }
    }
    &_icon{
        grid-row: 2;
        grid-column: span 3;


        img{
            width: 3rem;
            display: block;
            margin-bottom: 1.5rem;
        }
        &_title{
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
        &.text-center{
            img{
                margin: 0 auto 1.5rem auto;
            }
        }

        @include breakpoint(w-med){
            grid-row:auto;
            grid-column: 2/ span 5;
        }

        &:nth-child(even) {
            @include breakpoint(w-med){
                grid-row:auto;
                grid-column: 7/ span 5;
            }
        }

        @include breakpoint(w-sm){
            grid-row: auto;
            grid-column: 1 / span 12;

        }

        &:nth-child(even) {
            @include breakpoint(w-sm){
                grid-row:auto;
                grid-column: 1/ span 12;
            }
        }
     
    }
}