.bodystatic_dlpanel {
    @extend %grid-12;
    row-gap: 1.5rem;
    grid-auto-flow: row;
    

    &__wrap {
      grid-column: 3 /span 8;
      display:grid;
      grid-auto-flow: row;
      row-gap:1.5rem;
      padding:3rem;
      background-position: center;
    background-size: cover;
      background-color:$color-charcoal-2;
      border-radius:var(--roundcorner);

    }

    &__preheadline{

      text-align: center;
      text-transform: uppercase;
      color: var(--color-sunshine);
    }



    &__headline {
      text-align: center;

    }

    &__subheadline {
      text-align: center;

    }

    &__btn {

      text-align: center;

    }
}