.bodystatic_iconcopy{
    @extend %grid-12; 

    @include breakpoint(w-sm){
        width: 100%;
    }

    &__intro {
        grid-column: 2 /span 10;
        margin-bottom: 3rem;

        &--center {
          grid-column: 3 /span 8;
          text-align: center;
        }
        @include breakpoint(w-sm){
            grid-column: 1 /span 12;
        }
    }
    
    &__subheadline {
        margin: 1rem 0;
    }
    
    &__row {
        grid-column: 3 /span 8;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        
        @include breakpoint(w-sm){
            grid-column: 2 /span 10;
            grid-template-columns: 1fr;
        }
    
        .block-img {
          overflow: hidden;
          grid-row: 1;
          justify-self: left;
          display: flex;
          margin-bottom: 1rem;
          img {
            max-width: 3rem;
            max-height: 3rem;
            width: 100%;
          }
        }
    
        .block-title {
          margin-bottom: 1rem;
          font-weight:700;
        }
    
        .block-body {
          @include breakpoint (w-sm) {
            padding-bottom: 1.5rem;
          }
        }
    }
}
