.bodystatic_iconcopy_four{
    @extend %grid-12; 
    align-items: baseline;
    row-gap: 3rem;;

    h2{
        grid-column: span 12;
        margin-bottom: 3rem;
        @include breakpoint(w-sm){
            margin-bottom: 0;
        }
    }
    &_icon{
        grid-row: 2;
        grid-column: span 3;

        img{
            width: 3rem;
            height: 3rem;
            display: block;
            margin-bottom: 1.5rem;
        }
        &_title{
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
        &.text-center{
            img{
                margin: 0 auto 1.5rem auto;
            }
        }
    }
    &--responsive{
        align-items: flex-start;
        .bodystatic_iconcopy_four_icon{
            display: grid;
            grid-template-rows: 105px auto;
            grid-row-gap: 1.25rem;
            img{
                height: auto;
                width: auto;
                max-width: 100%;
                max-height: 105px;
                margin: 0 auto;
            }
            &.text-center{
                img{
                    margin: 0 auto;
                }
            }
        }
    }

    @include breakpoint(w-med){
        &_icon{
            grid-row: auto !important;
            grid-column: 2/ span 5;
    
            &:nth-child(even) {
                grid-row: auto;
                grid-column: 7/ span 5;
            }
        }
    }

    @include breakpoint(w-sm){
        width: 100%;

        &_icon{
            grid-row: auto;
            grid-column: 1 / span 12;

            &:nth-child(even) {
                grid-row: auto;
                grid-column: 1/ span 12;
            }
        }
    }
}