.bodystatic_embed{
    @extend %grid-12;
    padding-top: 6rem;
    padding-bottom: 6rem;
    h2{
        text-align: center;
        margin-bottom: 2rem;
    }
    &_inner{
        grid-column: span 12;
    }

    iframe{
        @include breakpoint(w-sm){
            display: none;
        }
    }

    .btn__wrapper{
        display: none;
        height: auto;
        @include breakpoint(w-sm){
            display: flex;
        }
    }
}