.bodystatic_iconbullet_three{
    @extend %grid-12;

    &_inner{
        grid-column: 3 /span 8;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;
        @include breakpoint(w-med){
            grid-column: 2 / span 10;
        }
        @include breakpoint(w-sm){
            grid-column: 1 / span 12;
            grid-template-columns: 1fr;
            grid-row-gap: 2rem;
        }
    }

    &_icon{
        grid-column: span 1;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 2rem;
        align-items: center;
        img{
            display: block;
            max-width: 3rem;
        }
        &_title{
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
    }
}