.bodystatic_iconbullet_three{
    @extend %grid-12;

    &__inner{
        grid-column: span 4;
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 1.5rem;

        @include breakpoint(w-med){
            grid-column: 1 / span 12;
        }
        @include breakpoint(w-sm){
            grid-column: 1 / span 12;
            grid-template-columns: 1fr;
            grid-row-gap: 2rem;
        }
    }

    &__icon{
        width:3rem;
        img{
            display: block;
            width:100%;
        }
        &_title{
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
    }

    &__copy {
        display:grid;
        grid-auto-flow: row;
        row-gap:.25rem;
    }
}