.bodystatic_headline{
    @extend %grid-12;
    row-gap: 2rem;
    
    &__headline, &__subheadline, &__btn {
        grid-column: 1 / 9;
    }

    &--med {
        .bodystatic_headline {
            &__headline, &__subheadline, &__btn {
                grid-column: 2 / 9;

                @include breakpoint (w-sm) {
                    grid-column: 1 / 12;
                }
            }
        }
    }

    &--sm {
        .bodystatic_headline {
            &__headline, &__subheadline, &__btn {
                grid-column: 3 / 8;
            }
        }
    }


   
}