.brag-bar {
  @extend %grid-12;
  row-gap: 1.5rem;

  &__body {
    grid-column: 3 / span 8;
    text-align: center;

    @include breakpoint (w-sm){
      grid-column: 1 / span 12;
    }
    

  }

  &__headline {
    margin-bottom:1.5rem;
  }

  &__subheadline {
    margin-bottom: 1.5rem
  }


  &__logo-row {
    grid-column: 1 / span 12;
    grid-row:2;
    text-align:center;
    

    @include breakpoint(w-sm) {

    }
  }

  &__logos {
    --gap: 2rem;
    display: inline-flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
    justify-content: center;

    
  }

  &__logo {
    margin: var(--gap) 0 0 var(--gap);
    align-self: center;
    text-align: center;
    

    img {
      max-height: 70px;
      min-width: 8rem;

      @include breakpoint (w-sm){
        min-width: 7rem;
      }
    }
  }

}
