.brag-bar {
  @extend %grid;
  row-gap: 1.5rem;

  &__body {
    grid-column: 3 / span 8;
    text-align: center;

    @include breakpoint (w-sm){
      grid-column: 1 / span 12;
    }
    

  }

  &__headline {
    margin-bottom:1.5rem;
  }

  &__subheadline {
    margin-bottom: 1.5rem
  }


  &__logo-row {
    grid-column: 1 / span 12;
    grid-row:2;
    text-align:center;
    

    @include breakpoint(w-sm) {

    }
  }

  &__logos {
    display:inline-flex;
    column-gap: 2rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;

    
  }

  &__logo {
    
    align-self: center;
    text-align: center;
    

    img {
      max-height: 70px;
      min-width: 8rem;

      @include breakpoint (w-sm){
        min-width: 7rem;
      }
    }
  }

}
