.brag-bar {
  @extend %grid;

  &__body {
    grid-column: 3 / span 8;
    text-align: center;
    margin-bottom: 3rem;

  }

  &__headline {
    margin-bottom:1.5rem;
  }

  &__subheadline {
    margin-bottom: 1.5rem
  }


  .brag-bar__logos {
    grid-column: 1 / span 12;
    grid-row:2;
    grid-template-columns: repeat(12, minmax(0,1fr));
    display: grid;
    grid-column-gap: 1rem;
    @include breakpoint(w-sm) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10vw;
    }
  }

  .logo {
    grid-column: span 2;
    align-self: center;
    text-align: center;

    img {
      max-height: 70px;
      max-width: 150px;
      margin-right: auto;
      margin-left: auto;
    }
  }

}
