.card {
    position:relative;
    border-radius: 0 0 0 3rem;
    padding:2.25rem;
    &--dark{
        background-color:$color-tembo;
    }

    &--yellow-bg{
        @include breakpoint (w-med){
            margin: 0 .75rem;
            padding:1.5rem .75rem;
        }
        &::before{
            
                content: "";
                height: 100%;
                width: 100%;
                background-color: $color-sunshine;
                border: 0.25rem solid $color-sunshine;
                border-radius: 0 0 0 3rem;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                transform:translate(1rem, 1rem);
        }
    }

    

    &--outline {
        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background-color: $color-white;
            border: 0.25rem solid $color-kennedy;
            border-radius: 0 0 0 3rem;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate3d(1rem, 1rem, 0);
            z-index: -2;
          }
      
          &::after {
            content: "";
            height: 100%;
            width: 100%;
            background-color: $color-white;
            border: 0.25rem solid $color-kennedy;
            border-radius: 0 0 0 3rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index:-1;
          }
    }
}