.center-block {
  @extend %grid;
  row-gap: 3rem;

  &__intro {
    grid-column: 3 /span 8;
    text-align: center;

  }

  &__headline {
    margin-bottom: 1rem;
  }

  &__subheadline {
    margin-bottom: 1rem;
  }

  &__link {}






  //OLD SHit







  &__form {
    max-width: 35rem;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint (w-med) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @include breakpoint (w-sm) {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    &--password {
      margin-top: 1.75rem;
    }
  }

  &__head {
    margin-bottom: 1.5rem;
  }


}