.center-cta-simple {
  @extend %grid-12;

  &__inner {
    grid-column: 4 / span 6;
    text-align: center;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
  }


  &__subheadline{
    margin-bottom:2rem;
  }

  .button-row {
    display: flex;
    justify-content: center;
  }

}