.cta-block {
  @extend %grid;
  text-align: center;

  .button-row {
    display: flex;
    justify-content: center;
  }

  &#trainer {
    .button-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &#six-block {
    .button-grid {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  .button-wrapper {
    text-align: center;

  }

  h5,
  p,
  h4 {
    margin-bottom: 1.5rem;

  }

  &.full-cta-bar {
    @extend %grid;

    .divider-line {
      margin-right: auto;
      margin-left: auto;
      display: block;
      margin-bottom: 1.5rem;
    }

    .cta-subtitle-bar {
      display: block;
      text-align: center;
      margin-bottom: 1.125rem;

    }

    .full-cta-bar__body {
      text-align: center;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .button-grid {
      text-align: center;

      .button-wrapper {
        display: inline-block;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        
      }

      .btn {
        margin-bottom: .75rem;
      }
    }



    @include breakpoint(w-sm) {
      grid-column-gap: 1.5rem;
    }
  }

  .btn {
    h3 {
      font-size: 1.5rem;
    }
  }

  &__hyperlink {
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;

  }
}

