.event-table {
    @extend %grid-12;

    row-gap: 2rem;

    &__section {
        padding-top: 0;
    }

    &__link {
        grid-column: span 4;
        border-radius: var(--cardcorner);

        @include breakpoint(w-sm) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__title {
        font-weight: 700;

        @include breakpoint(w-sm) {
            grid-column-end: span 2;
        }
    }

    .news-feature__category {
        margin-bottom:0rem;
    }
    .divider-line {
        margin: 0rem;
    }
}