.desktop-header {
  display: flex;
  justify-content: center;
  --parent-bg: var(--color-charcoal-1);
  background-color: var(--parent-bg);

  @include breakpoint(w-med) {
    display: none;
  }




  &__inner {
    @extend %grid-12;
    position: relative;
    grid-template-columns: auto 8fr auto;
    grid-column-gap: 3rem;
    grid-template-rows: 75px;
    z-index: 12;
    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    image-rendering: crisp-edges;









    svg {
      height: 1.7rem;
      fill: var(--color-sunshine);
      transition-property: fill;
      transition-duration: 0.3s;
      transition-timing-function: ease;

      &:hover {
        fill: var(--color-white);
      }
    }

  }

  &__logo {
    display: flex;
    align-items: center;
  }





  &__nav {
    display: inline-grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 0.75rem;
    height: 100%;


  }

  &__nav-item {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-right: 0.75rem;
    position: relative;
    cursor: pointer;

    &:hover {
      .desktop-header__nav-card {
        display: block;
      }

    }
  }

  &__nav-item-label {
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
    color: var(--color-white);

    &:hover {
      color: $color-sunshine;
    }
  }



  &__nav-card {
    display: none;
    position: absolute;
    margin-bottom: 16px;
    z-index: 10;
    top: 100%;
    white-space: nowrap;
    background-color: var(--color-charcoal-4);
  }

  &__link-list {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
  }

  &__card-link {


    p {
      display: inline-block;
      position: relative;
      color: var(--color-charcoal-1);
      text-decoration: none;

      &:after {
        content: '';
        position: absolute;
        opacity: 0;
        transform: translateY(2px) scaleY(0);
        transition: transform 250ms, opacity 250ms;
        transform-origin: center left;
        left: 0;
        right: 0;
        height: 2px;
        bottom: -2px;
        background: var(--color-charcoal-1);

      }
    }

    &:hover {
      p {
        color: var(--color-charcoal-1);
      }

      p:after {
        opacity: 1;
        transform: translateY(0) scaleY(1);
      }
    }
  }

  &__card-columns {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1.5rem;
    align-items: self-start;

  }

  &__vert-divider {
    align-self: center;
    height: 100%
  }

  &__col-label {
    font-weight: 300;
  }

  &__label-divider {
    margin-top: 0rem;
    margin-bottom: .5rem;
  }

  &__cta {
    align-self: center!important;
  }


  //holdovers to overwrite

  div {
    align-self: self-start;
  }

}














// .desktop-submenu {
//   position: absolute;
//   top: 0;
//   height: calc(100vh);
//   opacity: 0;
//   visibility: hidden;
//   width: 100%;
//   transition-property: opacity, visibility;
//   transition-duration: 0.4s;
//   transition-timing-function: ease;
//   z-index: 11;








//   &__content {
//     margin-top: calc(#{var(--headerheight)});
//     background-color: $color-charcoal-1;
//     color: var(--color-charcoal-1);

//     overflow: hidden;
//     @include page-width;
//      margin-left: auto; 
//     margin-right: auto;


//   }

//   &__item {
//     display: none;
//     padding: 4rem 4rem 4rem;


//     &.visible {
//       display: grid;
//       grid-auto-flow: column;
//       grid-auto-columns: auto;

//     }

//     li {
//       list-style: none;
//     }





//     h3 {
//       font-size: 1.3rem;
//       color: var(--color-charcoal-5);
//       display: inline-block;
//       cursor: default;
//       padding-bottom: 1.5rem;
//       transition-property: color;
//       transition-duration: 0.4s;
//       transition-timing-function: ease;
//     }

//     h6 {
//       padding: 0.5rem 1rem 1rem;
//     }

//     a {
//       p {
//         padding: 1rem;
//         color: $color-white;
//         display: inline-block;
//         transition-property: all;
//         transition-duration: 0.4s;
//         transition-timing-function: ease;

//       }

//       &:hover {
//         p {
//           color: $color-sunshine;
//           transform: perspective(1px) scale(1.1);


//           // border: solid $color-sunshine;
//           transition-property: all;
//           transition-duration: 0.4s;
//           transition-timing-function: ease;
//         }

//       }

//     }

//   }


//   &__block {
//     transition-property: background-color;
//     transition-duration: 0.4s;
//     transition-timing-function: ease;

//     &.full-link {
//       cursor: pointer;

//       h6 {
//         color: $color-white;
//         line-height: 1.5;
//       }

//       h3 {
//         cursor: pointer;
//       }

//     }

//     &:hover {

//       transition-property: background-color;
//       transition-duration: 0.4s;
//       transition-timing-function: ease;

//       h3 {
//         color: $color-sunshine;
//         background-color: var(--color-charcoal-3);
//         transition-property: color;
//         transition-duration: 0.4s;
//         transition-timing-function: ease;
//       }

//     }





//     &.visible {
//       display: grid;
//     }


//   }



// }




//_______________MOBILE MENU________________________

.mobile-header {
  background-color: var(--color-charcoal-1);
  height: var(--mobileheaderheight);
  display: none;
  justify-content: center;
  --parent-bg: var(--color-charcoal-1);
  background-color: var(--parent-bg);
  position: relative;

  @include breakpoint(w-med) {
    display: flex;
  }

  &__inner {
    @extend %grid-12;
    grid-template-columns: 1fr 1fr;
    align-items: center;

  }




  &__logo {
    display: inline-block;
    line-height: 0;

    svg {
      fill: $color-sunshine;
      height: calc(#{var(--mobileheaderheight)} * 0.5);
      line-height: 1;
    }

    a {
      display: inline-block;
      line-height: 0;
    }
  }

  .hamburger-helper {
    button {
      margin-left: auto;
      display: block;

      &::after,
      &::before {
        content: normal;
      }
    }
  }

}

.mobile-submenu {
  position: absolute;
  top: 100%;
  width: 100%;
  opacity: 0;
  z-index: 21;
  min-height: calc(100vh - #{var(--mobileheaderheight)});
  display: flex;
  visibility: hidden;
  overflow-y: auto;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;

  &.is-active {
    visibility: visible;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;

    .mobile-submenu__container {
      transform: translateX(0px);
      transition-property: transform;
      transition-duration: 0.4s;
      transition-timing-function: ease;
    }

  }

  &__container {

    width: 100%;
    background-color: var(--color-charcoal-2);
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    overflow: scroll;
    transform: translateX(-320px);
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease;

    &::-webkit-scrollbar {
      width: 0;
    }


  }

  &__links {
    padding-left: 1rem;
  }

  &__content {
    position: absolute;
    padding-bottom: 2rem;

    li,
    ul {
      list-style: none;
    }



    p {
      color: $color-white;
      margin-bottom: 1rem;
      font-size: 0.9rem;

      &:hover {
        color: $color-sunshine;
      }
    }


  }

  &__label {

    color: var(--color-charcoal-7);
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-sunshine);


    margin-bottom: 0.7rem;
    margin-top: 1rem;
    /* text-align: right; */


  }

}