.hero-lg-img {
    @extend %grid;
    align-items: center;

    &__copy {
        grid-column: span 6;
        padding-right:1rem
        
    }

    &__btn-row{
        margin-top: 3rem;
        display: flex;
        align-items: center;

    }
    &__img{
        padding-left:1rem;
        grid-column:span 6;
        img{
            width:100%;
        }
    }
}