.icon-block {
  @extend %grid;
  row-gap:3rem;
    &__intro {
      grid-column: 3 /span 8;
      text-align: center;
     
    }
  
    &__headline {
      margin-bottom:1rem;
    }
  
    &__subheadline {
      margin-bottom:1rem;
    }

    &__link{
      margin-bottom: 3rem;;
    }
  
    &__row {
      
      grid-column: 2 /span 10;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      justify-content: left;
      text-align:left;
      grid-column-gap: 3rem;
      
  
      // @include breakpoint(w-sm) {
      //   grid-template-columns: repeat($sm-num-cols, 1fr);
      //   max-width: 320px;
  
      //   .block-body,
      //   .block-img,
      //   .block-title {
      //     grid-row: auto !important;
      //   }
  
      //   .block-body {
      //     margin-bottom: 3rem;
      //   }
  
      // }
        &--1{
          grid-row: 2;
       
        }
        &--2{
          grid-row: 3;
        }
      
  
      .block-img {
        
        overflow: hidden;
        grid-row: 1;
        justify-self: left;
        display: flex;
        margin-bottom: 1rem;
  
        img {
          max-width: 3rem;
          max-height: 3rem;
          width: 100%;
        }
      }
  
      .block-title {
        
        grid-row: 2;
        justify-self: left;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
  
      }
  
      .block-body {
        
        grid-row: 3;
  
      }
  
    }
  
  }