.team-rows {
  display: flex;
  width: 750px;
  flex-wrap: wrap;
  justify-content: center;

  @extend %grid;

  @include breakpoint(w-sm) {
    width: 250px
  }
  &__person {
    height: 100%;
    width: 250px;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;


    @include breakpoint(w-sm) {
      padding-bottom: 3rem;
    }

    img {
      height: 200px;
      margin-bottom: 1rem;
      border-radius: 50%;
    }

    h3 {
      font-size: 1rem;
      text-align: center;
    }

    h5 {
      font-size: 1rem;
      text-align:center;
    }

  }
}