.list-block {
    @extend %grid;
    grid-row-gap: 2rem;

    &__intro {
        h2 {
            text-align: center;
        }
        grid-column: 3 /span 8;
        grid-row:1;

    }

    &__wrapper {
       grid-column: 2/ span 10;
       grid-row:2;
        padding: 1.5rem 3rem;
 

        @include breakpoint (w-med) {
            padding: 1.5rem;
            max-width: none;
        }

        @include breakpoint (w-sm) {
            padding:0rem;
        }

        li {
            margin-bottom: 1.5rem;
            h3 {
                @include breakpoint (w-lg){
                    font-size:1.7rem;
                }
            }
        }


    }
}