.locations {
    min-height: 30rem;
    grid-template-columns: 30% 1fr;

    @include breakpoint(w-sm){
        grid-template-columns: 1fr;
    }

    h2,
    p {
        margin-bottom: 1rem;
    }

    &__office-link {
        display: inline-flex;
        align-items: center;
        margin-bottom: .3rem;
        margin-right: auto;
        color: var(--color-white);
        svg {
            // transition: transform .5s ease-in-out;
            height: .6rem;
            padding-left: .3rem;
            fill: var(--color-charcoal-2);

        }

        &:hover {
            svg {
                fill: var(--color-charcoal-3);
            }

            span::before {
                opacity: 1;
                transition-property: opacity;
                transition-duration: 0.3s;
                transition-timing-function: ease;
            }
        }
    }

    &__office-title {
        display: inline-block;
    }

    &__row5 {
        margin-top: 1rem;
    }
    &__row6{
        a{
            color:var(--color-white);

            &:hover {
                color:var(--color-charcoal-8);
            }
        }
    }

    &__item {
        margin-bottom: 1rem;

        &.active {
            svg {
                fill: var(--color-charcoal-3);
            }
        }
    }

    &__hq-label {
        text-transform:uppercase;
        margin-bottom: 2rem;
        padding-bottom:1rem;
        border-bottom: 2px solid;
        border-color:var(--color-sunshine);
    }
}

.map-baby {
    height: 100%;
    position: relative;
    .mapboxgl-ctrl-attrib {
        display: none;
    }

    .mapboxgl-ctrl-logo {
        display: none;
    }

    .mapboxgl-ctrl-group {
        border-radius: 0px;
        background: transparent;
        ::before {
            content: "";
            background-color: var(--color-white);
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
        button {
            border: 2px solid;
            border-color:var(--color-charcoal-7);
            margin-bottom: .125rem;
            position: relative;
            border-radius: 3px;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease;

            &:hover {
                background-color: var(--color-charcoal-7);
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease;
            }

            ::before {
                display: none;
            }
        }

        .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass>.mapboxgl-ctrl-compass-arrow {
            margin: auto;
            margin-top: 2px;
        }
    }

    &--globe-button {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 1rem;
        border-radius: 3px;
        width: 45px;
        height: 45px;
        border: 2px solid;
            border-color:var(--color-charcoal-7);
        padding: 5px;
        background-color: $color-white;

        &:hover {
            background-color: var(--color-charcoal-7);
        }

        svg {
            fill: var(--color-charcoal-1);
        }

        &::before,
        &::after {
            display: none;

        }
    }

    .mapboxgl-ctrl-group:not(:empty) {
        box-shadow: 0 0 0 0px #291d5421;
        margin: 1rem;
    }

    .mapboxgl-popup {
       top: -60px;
    }

    .mapboxgl-popup-content {
        position: relative;
        background: var(--color-white);
        border: 2px solid;
        border-radius: 3px;
        border-color: var(--color-charcoal-1);
        padding: 1rem 1rem;
        // transform: translate(.5rem, -.5rem);
        pointer-events: auto;
        color: var(--color-charcoal-1);

        .city {
            font-weight: 300;
        }
        

       

    }

    &__marker {
        border: none;
        cursor: pointer;
        height: 60px;
        width: 60px;
        background-image: url(#{$staticbase}img/samamarker3.svg);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0);
        &-global{
            height: 20px;
            width: 20px;
        }
    }

    &__wrapper {
        height: 100%;
    }
    .item {
        margin-bottom: 1rem;
    }
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-tip {
    display: none;
}


.mapboxgl-popup-content {
    padding: 0;

}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}