.location-cards {
    @extend %grid-12;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 3rem;
    column-gap: 3rem;

    @include breakpoint (w-sm){
        grid-template-columns:  1fr auto 1fr;
        row-gap: 3rem;
    }
   

    &__section{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__last-section {
        padding-bottom: 6rem;
    }

    &__card{
        @include breakpoint (w-sm){
            grid-column: 2;
            width: 17.75rem;
        }
    }

    &__icon {
        img{
            height:3rem;
        }

        @include breakpoint (w-sm){
            
        }
         
    }
}