.location-cards {
    @extend %grid;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 3rem;
    column-gap: 3rem;
   

    &__section{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__last-section {
        padding-bottom: 6rem;
    }

    &__card{
    
    }

    &__icon {
        img{
            height:3rem;
        }
         
    }
}