.news-feature {
    @extend %grid-12;
    column-gap: 1.5rem;
    min-height: 40rem;

    @include breakpoint (w-sm){
        row-gap: 1.5rem;
    }

    &__headline {
        grid-column: span 4;
        background-color: var(--color-charcoal-1);
        padding: 3rem 1.5rem;

        @include breakpoint (w-sm){
            grid-column: span 12; 
        }

    }

    &__main {
        grid-column: 5 / span 4;
        @include breakpoint (w-sm){
            grid-column: span 12; 
        }

    }

    &__secondary-wrapper {
        grid-column: 9 / span 4;
        display: grid;
        grid-column: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 1.5rem;

        @include breakpoint (w-sm){
            grid-column: span 12; 
        }
    }

    &__secondary-article {     
        
    }



    &__category {
        display: inline-block;
        padding: .5rem .5rem .125rem .5rem;
        text-transform: uppercase;
        background-color: var(--color-sunshine);
        color: var(--color-charcoal-1);
        margin-bottom: 1.5rem;
        width: fit-content;

    }

    &__title {
        // background-color: var(--color-charcoal-2);
        // padding: .5rem .5rem .125rem .5rem;
        transition-property: color;
        transition-duration: .3s;
        transition-timing-function: ease;
        text-decoration: none;
        color: var(--color-white);
        margin-bottom: 1.5rem;
    }

    &__article-wrapper {}

    &--article-bg {
        background-color:var(--color-charcoal-4);
    }
    &--article-bg-light {
        background-color:var(--color-charcoal-6);
    }

    &--link {
        height: 100%;
        display: grid;
        position: relative;
        cursor: pointer;
        padding: 1.5rem 1.5rem;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: minmax(0, 1fr);
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
        background-size: cover;
        background-position: center;
        transition: transform .3s;
        overflow-wrap: break-word;




        &:hover {
            transform: translate(.5rem, -.5rem);



            .news-feature__title {
                color: var(--color-charcoal-7);
            }
        }
    }

    &__logo {
        padding: .5rem 1rem;
        background-color: var(--color-white);
        width: fit-content;
        align-self: flex-end;
        justify-self: right;
        height: fit-content;


        img {
            height: 2rem;
            max-width: 5rem;
        }

    }

}