.panel-quote {
    height:auto;
    @extend %grid;
    
    &__back {
        grid-row: 1;
        grid-column: 3 / span 10;
        background-color: var(--color-charcoal-1);
        height:100%;
    }

    &__front {
        grid-row:1;
        grid-column: 1 / span 11;
        margin: 3rem 0;
        background-color: var(--color-sunshine);
        display:grid;
        grid-template-columns: 1fr auto;
    }

    &__quote{
        padding: 3rem;
    }

    &__quote-text{
        margin-bottom: 1rem;
    }

    &__quote-author {
        text-align:right;
    }

    &__headshot {
        width: 15rem;
        background-position: center;
        background-size: cover;
        

    }

    &--flip-it {
        .panel-quote__back {
            grid-column: 1 / span 10;
        }
        .panel-quote__front {
            grid-column: 2 / span 11;
            grid-template-columns: auto 1fr;
            grid-template-row: 1fr;
        }
        .panel-quote__headshot {
            grid-column: 1;
            grid-row:1
        }

        .panel-quote__quote {
            grid-column:2;
        }
    }

}

.dark-mode .panel-quote {
    

    &__quote-text{
        color:var(--color-charcoal-1);
    }

    &__quote-author {
        color:var(--color-charcoal-1);
    }
}
