.panel-half {

    @extend %grid-12;
    box-shadow: -1rem 1rem var(--color-charcoal-6);

    background-color:var(--color-charcoal-3);
    color:var(--color-white);
    margin-left: 2rem;

    

    &__copy, &__img {
        grid-column: span 6;

        @include breakpoint (w-sm){
            grid-column: span 12;
        }
    }

    &__img {
        overflow: hidden;
        margin-left: -.125rem;
        background-size: cover;
        background-position: center;
        margin-right: -.125rem;


        @include breakpoint (w-sm){
            height: 20rem;
            width: 100%;
            grid-row: 2;
        }

    }

    &__copy {
        padding: 6rem;

        @include breakpoint (w-sm){
            padding: 3rem;
        }
    }

}

.panel-half.dark-mode {
    box-shadow: -1rem 1rem var(--color-charcoal-4);
}