.popdown {
    width: 100%;

    height: 3rem;
    margin-bottom: 0rem;
    background-color: $color-charcoal-1;
    color: $color-white;
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    position: relative;
    z-index: 20;
    transition: .5s background-color, color;
    padding: .5rem 0;
    text-align: center;

    @include breakpoint (w-sm) {
        flex-direction:column;
        height: auto;
    }



    &__text {
        padding: 0 1.5rem ;
    }

    &__cta-text {
        font-weight:700;
        position: relative;
        white-space: nowrap;

        &::before {
            content: "";
            border-bottom: 2px solid #fffa0c;
            width: 100%;
            position: absolute;
            left: 0;
            z-index: -1;
            bottom: 10%;
        }
    }


    &:hover {
        transition: .5s background-color, color;
        background-color: $color-charcoal-3;
        color: $color-sunshine;

        .popdown__cta-text {

        color:$color-white;

        }
    }


}