.split-form{
    @extend %grid;

    column-gap: 1.5rem;

    
    

    &__form {
        grid-column: span 6;
    }

    &__description {
        grid-column: span 6;
        display: flex;
        flex-direction:column;
        justify-content: center;


    }
    &__headline {
        margin-bottom: 2rem;
    }

    &__text {
        margin-bottom: 1rem;
    }



    &__icon-bullets {
        display:grid;
        grid-template-columns: auto 1fr;
        align-items: center;
       
    }

    &__icon {
        width: 2rem;
        margin: .75rem;
        
    }
}