.strip-wrapper {
  overflow-x: hidden;
}

.strip-block {
  color: $color-white;
  position: relative;
  margin-top: 100px;
  width: 85%;
  margin-bottom: 0.7rem;

  @include breakpoint(w-sm) {
    width: calc(100% - 1.5rem);
    margin-top: 0;
  }

  .strip-content {
    @extend %page-container;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    line-height: 0;
    margin-right: 0;

    @include breakpoint(w-med) {
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint(w-sm) {
      grid-template-columns: 1fr;
      padding-left: 0;
      padding-right: 0;
    }

    .strip-body {

      padding: 2rem 3rem;

      h5, p {
        margin-bottom: 1.5rem;
        text-align: right;
      }


      .logo {
        margin-top: 1.5rem;
        text-align: right;
        max-height: 100px;
        max-width: 270px;
        margin-left: auto;

        img {
          max-height: 100%;
          max-width: inherit;
        }

        @include breakpoint(w-sm) {
          height: 35px;
        }



      }

      .button-wrapper {
        text-align: right;
      }

    }

    .strip-img {
      position: relative;

      @include breakpoint(w-sm) {
        display: none;
      }

      img {
        position: absolute;
        bottom: 0;
        right: 0;

      }
    }

  }

  &::after {
    content: "";
    background-color: $color-tembo;
    border-radius: 0 3rem 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: $color-sunshine;
    border-radius: 0 3rem 0 0;
    position: absolute;
    top: 0;
    left: 0;

    transform: translate3d(.7rem, .7rem, 0);
  }

  &.reflect {
    margin-left: auto;
    
    .strip-content {
      margin-right: auto;
      margin-left:0;
    }

    .strip-body {

      grid-column: 1;
      grid-row: 1;

      h5,
      p {
        text-align: left;
      }

      .logo {
        margin-right: auto;
        margin-left: 0;
      }

      .button-wrapper {
        text-align: left;
      }



    }

    .strip-img {
      grid-column: 2;
      grid-row: 1;

      img {
        left: 0;

      }

    }

    &::before {
      transform: translate3d(-.7rem, .7rem, 0);
    }

    &::after,
    &::before {
      border-radius: 3rem 0 0 0;
    }

  }
}