.three-block {
@extend %grid-12;

  &__intro {
    grid-column: 3 /span 8;
    text-align: center;
    margin-bottom:4rem;

    @include breakpoint (w-sm){
      grid-column: 1 /span 12;
    }
  

    
  }

  &__headline {
    margin-bottom:1rem;
  }

  &__subheadline {
    margin-bottom:1rem;
  }

  &__blocks {
    grid-row:2;
    grid-column: 2 /span 10;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: left;
    text-align:center;
    grid-column-gap: 2rem;

    @include breakpoint (w-sm){
      grid-column: 1 /span 12;
      grid-template-columns: 1fr;

  
    }
    

    // @include breakpoint(w-sm) {
    //   grid-template-columns: repeat($sm-num-cols, 1fr);
    //   max-width: 320px;

    //   .block-body,
    //   .block-img,
    //   .block-title {
    //     grid-row: auto !important;
    //   }

    //   .block-body {
    //     margin-bottom: 3rem;
    //   }

    // }

    

    .block-img {
      
      overflow: hidden;
      grid-row: 1;
      justify-self: center;
      display: flex;
      margin-bottom: 1rem;

      img {
        max-width: 6rem;
        max-height: 6rem;
        width: 100%;
      }

      @include breakpoint (w-sm){
        grid-row: auto;
      }

    }

    .block-title {
      
      grid-row: 2;
      justify-self: center;
 
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      @include breakpoint (w-sm){
        grid-row: auto;
      }

    }

    .block-body {
      
      grid-row: 3;
      @include breakpoint (w-sm){
        grid-row: auto;

        margin-bottom: 1.5rem;
      }

    }

  }

}