.three-card {
@extend %grid;

  &__intro {
    grid-column: 3 /span 8;
    text-align: center;
    margin-bottom:4rem;
  

    
  }

  &__headline {
    margin-bottom:1rem;
  }

  &__subheadline {
    margin-bottom:1rem;
  }

  &__blocks {
    grid-row:2;
    grid-column: 2 /span 10;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: left;
    text-align:left;


    grid-column-gap: 2rem;
    

    // @include breakpoint(w-sm) {
    //   grid-template-columns: repeat($sm-num-cols, 1fr);
    //   max-width: 320px;

    //   .block-body,
    //   .block-img,
    //   .block-title {
    //     grid-row: auto !important;
    //   }

    //   .block-body {
    //     margin-bottom: 3rem;
    //   }

    // }

    


    .block-title {
      
      grid-row: 2;
      justify-self: left;
 
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

    }

    .block-body {
      
      grid-row: 3;
      justify-self: center;

    }

  }

}