.two-col-vid {
  @extend %grid;
  align-items: center;

  @include breakpoint(w-sm) {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  &__copy {
    grid-column: 1/ span 6;
    text-align: left;

    @include breakpoint (w-sm) {
      grid-column: 1/ span 12;
      grid-row:1;
    }
  }

  &__headline {
    margin-bottom: 1.5rem;
  }

  &__subheadline {
    margin-bottom: 1.5rem;
  }

  &__vid {
    grid-column: 7/ span 6;


    @include breakpoint (w-sm) {
      grid-column: 1/ span 12;
      grid-row:2;
    }
  }

  &__vid-embed {

  }


// &__panel {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   z-index: -1;
//   background-color: var(--color-charcoal-7);
//   width: calc(100% - 1rem);
//   height: calc(100% - 1rem);
// }
}

.two-col-vid.reflect {
  .two-col-vid__copy {
    text-align: left;
    grid-column: 7;
    grid-row: 1;
  }

  .two-col-vid__vid {
    grid-column: 1;
    grid-row: 1;

  }

  .two-col-vid__panel {
    left: 0;
    right: auto;
  }


  @include breakpoint(w-sm) {

    .two-col-vid__copy,
    .two-col-vid__img {
      grid-row: auto;
      grid-column: auto;
    }
  }

}



.dark-mode .two-col-vid__panel {
  background-color: var(--color-charcoal-4);

}