.two-block {
  @extend %grid-6;
  align-items: center;

  row-gap:3rem;


  &__copy {
    grid-column: 1/ span 3;
    text-align: left;

  }

  &__headline {
    margin-bottom: 1.5rem;
  }

  &__subheadline {
    margin-bottom: 1.5rem;
  }


  &__img-wrap {
    grid-column: 4/ span 3;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
    z-index: 10;

  }

  &__img,
  &__panel {
    width: calc(100% - 3rem);
    height: calc(100% - 3rem);

    @include breakpoint (w-sm) {
      width: calc(100% - 1rem);
      height: calc(100% - 1rem);

    }
  }


  &__img {
    position: absolute;
    top: 0;
    left: 0;

    line-height: 1;
    object-fit: cover;


  }

  &__panel {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color-charcoal-7);
  }

  &__copy,
  &__img-wrap {
    @include breakpoint(w-sm) {
      grid-row: auto;
      grid-column: 1 /span 6;
    }
  }









&.reflect {
  .two-block__copy {
    text-align: left;
    grid-column: 4/span 3;
    grid-row: 1;
    padding-left: 0;
    padding-right: 1.5rem;
  }

  .two-block__img-wrap {
    grid-column: 1/ span 3;
    grid-row: 1;

  }

  .two-block__img {
    right: 0;
    left: auto;

  }

  .two-block__panel {
    left: 0;
    right: auto;
  }

  .two-block__copy,
  .two-block__img-wrap {
    @include breakpoint(w-sm) {
      grid-row: auto;
      grid-column: 1 /span 6;
    }
  }




}
}



.dark-mode .two-block__panel {
  background-color: var(--color-charcoal-4);

}



//everything from here out could be old or outdated. Take a look and see



.two-block {


  &--longform {
    align-content: flex-start;
    grid-template-columns: 1fr 30%;


    &two-block--thank-you {
      grid-template-columns: 1fr;
    }


    @include breakpoint(w-med) {
      grid-template-columns: 1fr;
      grid-row-gap: 2.25rem;
    }

    .copy {
      text-align: left;
      align-self: flex-start;

      @include breakpoint(w-med) {
        padding: 0;
      }


    }
  }
}