.two-block {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 6rem;

  align-items: center;

  @include breakpoint(w-sm) {
    grid-template-columns: 1fr;

    row-gap: 1.5rem;
  }

  &__copy {

    text-align: left;

  }

  &__headline {
    margin-bottom: 1.5rem;
  }

  &__subheadline {
    margin-bottom: 1.5rem;
  }


  &__img {
    position: relative;
    height: auto;
    width: auto;
    z-index: 10;

    img {
      width: calc(100% - 3rem);
      line-height: 1;
      padding-bottom: 3rem;

       @include breakpoint (w-sm){
        width: calc(100% - 1rem);
        padding-bottom: 1rem;
       } 
    }

  }

  &__panel {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color-charcoal-7);
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }


}

.two-block.reflect {
  .two-block__copy {
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    padding-left: 0;
    padding-right: 1.5rem;
  }

  .two-block__img {
    grid-column: 1;
    grid-row: 1;
    text-align: right;

  }

  .two-block__panel {
    left: 0;
    right: auto;
  }


  @include breakpoint(w-sm) {

    .two-block__copy,
    .two-block__img {
      grid-row: auto;
      grid-column: auto;
    }
  }

}



.dark-mode .two-block__panel {
  background-color: var(--color-charcoal-4);

}



//everything from here out could be old or outdated. Take a look and see



.two-block {
  

  &--longform {
    align-content: flex-start;
    grid-template-columns: 1fr 30%;


    &two-block--thank-you {
      grid-template-columns: 1fr;
    }


    @include breakpoint(w-med) {
      grid-template-columns: 1fr;
      grid-row-gap: 2.25rem;
    }

    .copy {
      text-align: left;
      align-self: flex-start;

      @include breakpoint(w-med) {
        padding: 0;
      }


    }
  }
}