.two-block-hero {
    @extend %grid;
    align-items: center;

    &__copy {
        grid-column: 1/ span 6;
        padding-right:1rem;
        grid-row: 1;
        position:relative;
        z-index:1;
        
    }

    &__btn-row{
        margin-top: 3rem;
        display: flex;
        align-items: center;

    }
    &__img{
        grid-column: 5 /span 8;
        grid-row: 1;
        height: 33rem;

        display: flex;
        

        img {
            width: 100%;
            
            object-fit: contain;
            object-position: 50% 50%;
        }
    }
}