<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends 'custom/markup/blocks_static/base.html' %}

{% block main %}
{% include 'custom/markup/blocks_static/pattern-bg2.html' %}

{% include 'custom/markup/blocks_static/header-lp.html' %}

{% module "module_1567350766855115" path="/custom/markup/modules_from_blocks/label_tab", label="label_tab" %}
{% module "module_15677962240616" path="/custom/markup/modules_from_blocks/two_block", label="two_block" %}

{% module "module_156777862698395" path="/custom/markup/modules_from_blocks/three_block", label="three_block" %}

{% module "module_156779742043611" path="/custom/markup/modules_from_blocks/center_form", label="center_form" %}



{% include 'custom/markup/blocks_static/footer-lp.html' %}

{% endblock %}