<section class="two-block {{ module.image_position }}">
  <div class="two-block__copy">
    <div class="two-block__copy-body">
      {% if module.two_block_title %}
      <h2>
        {{ module.two_block_title }}
      </h2>
      {% endif %}
      {% if module.two_block_body_big %}
      <h4>
        {{ module.two_block_body_big }}
      </h4>
      {% endif %}
      {% if module.two_block_body_small %}
      <p>
        {{ module.two_block_body_small }}
      </p>
      {% endif %}
    </div>


    <div class="award-grid">
      {% if module.two_block_body_small_bold %}
      <p><b>
          {{ module.two_block_body_small_bold }}
        </b> </p>
      {% endif %}
      {% if module.award_img.src %}
      <img src="{{ module.award_img.src }}" alt="{{ module.award_img.alt }}" />
      {% endif %}
    </div>


    {% if module.two_block_cta_text %}
    {% set href = module.two_block_cta.url.href %}
    {% if module.two_block_cta.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}

    <a href="{{ href }}" {% if module.two_block_cta.open_in_new_tab %}target="_blank" {% endif %}>
      <button class="btn">
        <h3 class="button__content">
          {{ module.two_block_cta_text }}
        </h3>
      </button>
    </a>
    {% endif %}
  </div>
  <div class="img">

    <img src="{{ module.two_block_img }}" class="two-block-img">
  </div>

</section>