{% set feature_topic = module.featured_tag %}
{% set featured = blog_recent_tag_posts('default', feature_topic, 3) %}

<section class="section--sm
                dark-mode
                bg-charcoal-3">
  <div class="blog-feature">

    <div class="blog-feature__intro">
      <h2 class="blog-feature__title">
        {{ module.section_title }}
      </h2>
      <div class="divider-line divider-line--horizontal"></div>
      <h5 class="blog-feature__body">
        {{ module.blurb }}
      </h5>
    </div>



    {% for post in featured %}

    <div class="blog-feature__item">
      <div class="blog-card-sm" onclick="location.href='{{ post.absolute_url}}'">
        <div class="blog-card-sm__img-wrap">
          <img src="{{ post.post_list_summary_featured_image }}" class="blog-card-sm__img" aria-label="{{ post.name }}"/>
            </div>

          <div class="blog-card-sm__data-wrap">



            <p class="blog-card-sm__title bold">
              {{ post.name }}
            </p>
            <div class="blog-card-sm__data-lower">
              {% if post.topic_list %}
              {% for topic in post.topic_list %}
              {% if loop.index == 1 %}
              <a class="blog-card-sm__tag-label tag-label"
                      href="/blog/tag/{{ topic.slug }}">
                    <p class="bold tag-label__text">
                      {{ topic.name }}
                    </p>
                  </a>
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>


          </div>




        </div>
      </div>

      {% endfor %}

    </div>
</section>