<ul class="icon-list">
  

  
  <ul class="icon-list">
    
    {% for item in module.list_item %}
    
     <li>
      <div class="icon-list__row">
        <img src="{{ item.list_icon.src }}"
          class="icon-list__icon">

          {% if item.list_title_shouty == true %}
        <h3 class="icon-list__copy icon-list__title-copy bold">
          {{ item.list_title }}
        </h3>
        {% else %}
        <h4 class="icon-list__copy icon-list__title-copy bold">
          {{ item.list_title }}
        </h4>
        {% endif %}
      </div>
      <div class="icon-list__row">
        {% if item.list_copy %}
        <p class="icon-list__copy icon-list__body-copy">
         {{ item.list_copy }}
        </p>
        {% endif %}
      </div>
    </li>

{% endfor %}
    
   
  
  
  
  </ul>

  
     


    </ul>