<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}


{% include '/v1/markup/blocks_static/header-lp.html' %}


{% module "module_20200727230229" path="/v1/markup/modules_from_blocks/platform_hero", label="Hero" %}


<!--ABOUT sama-->

{% module "module_20200429110742" path="/v1/markup/modules_from_blocks/center_body", label="Body Block" %}

{% module "module_20200429130622" path="/v1/markup/modules_from_blocks/full_cta_bar", label="CTA Request" %}

{% module "module_20200429110752" path="/v1/markup/modules_from_blocks/center_body", label="Body Block" %}

{% include '/v1/markup/blocks_static/hub-overview.html' %}

{% module "module_20200429134642" path="/v1/markup/modules_from_blocks/center_body", label="Body Block" %}

{% module "module_20200429134736" path="/v1/markup/modules_from_blocks/center_form", label="Scope Form" %}

{% module "module_20200429134703" path="/v1/markup/modules_from_blocks/center_body", label="Body Block" %}



{% include '/v1/markup/blocks_static/footer.html' %}

{% endblock %}
