<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/v1/markup/blocks_static/base.html' %}

{% block main %}
{% include '/v1/markup/blocks_static/pattern-bg2.html' %}

{% include '/v1/markup/blocks_static/header-lp.html' %}

{% module "module_20191024115547" path="/v1/markup/modules_from_blocks/label_tab", label="label_tab" %}

{% include '/v1/markup/blocks_static/lp_two_block.html' %}

{% module "module_20191024150023" path="/v1/markup/modules_from_blocks/three_block", label="three_block" %}

{% module "module_20191202161042" path="/v1/markup/modules_from_blocks/strip_block", label="strip_block" %}

{% module "module_20191202161246" path="/v1/markup/modules_from_blocks/brag_bar", label="brag_bar" %}

{% include '/v1/markup/blocks_static/footer-lp.html' %}

{% endblock %}