

<section class=" hero-lg-img__section">
    <div class="hero-lg-img__bg-wrapper">

        <div class="hero-lg-img__bg1"></div>
        <div class="hero-lg-img__bg2"></div>

    </div>

    <div class="hero-lg-img__gradient"></div>
    

  <div class="hero-lg-img__content">

    <div class="hero-lg-img__copy">
        <div class="hero-lg-img__copy-panel">
      <div class="hero-lg-img__headline">
          <h1>
              {{module.headline}}
          </h1>
      </div>
      <div class="divider-line divider-line--horizontal "></div>
      <div class="hero-lg-img__subheadline">
          <h5>
              {{module.subheadline}} {{module.cta1}}
          </h5>
      </div>
      {% if module.cta1 %}
      <div class="hero-lg-img__btn-row">


        
          <div class="btn__row">
              {% if module.cta1 %}
              <div class="btn__wrapper">
                  <button class="btn">
                      {% cta guid="{{ module.cta1 }}" %}
                </button>
              </div>
              {% endif %}
              {% if module.cta2 %}
              <div class="btn__wrapper">
                  <button class="btn btn--secondary">
                    {% cta guid="{{ module.cta2 }}" %}
                  </button>
              </div>
              {% endif %}
          </div>
         



      </div>
      {% endif %}
    </div>
  </div>
  <div class="hero-lg-img__img">
    <div class="hero-lg-img__img-grad"></div>
      <img src="{{ module.img.src}}" alt="{{ module.img.alt }}" />
  </div>









  </div>

  
</section>
