<!-- module html  -->
<section class="{% if module.darkmode == true %}
    dark-mode
    {{ module.bg_color }}
    {% endif %}">
    <div class="hero-center">
        <div class="hero-center__body">
            <div class="hero-center__headline">
                <h1>
                    {{module.headline}}
                </h1>
            </div>
            <div class="divider-line divider-line--horizontal divider-line--negative"></div>
            <div class="hero-center__subheadline">
                <h5>
                    {{module.subheadline}}
                </h5>
            </div>
        {# CTA Markup #} 
        <div class="btn__row"> 
        {% if module.primary_link.type=="cta" %}   
       
            
                {% if module.primary_link.cta1 %}          
                <div class="btn__wrapper">
                    <button class="btn">
                        {% cta guid="{{ module.primary_link.cta1 }}" %}
                  </button>
                </div>
                {% endif %}
                

        {%elif module.primary_link.type=="link"%}

        <a href="{{ module.primary_link.url1 }}" class="btn__wrapper">
            <button class="btn">
                                            <h3 class="btn__text">{{ module.primary_link.btn1 }} </h3>
                            </button>
                          </a>
        
        {% endif %}


                {% if module.secondary_link.cta2 %}
                <div class="btn__wrapper">
                    <button class="btn btn--secondary">
                      {% cta guid="{{ module.secondary_link.cta2 }}" %}
                    </button>
                </div>
                {% endif %}
            </div>
           
        </div>

    </div>
</section>