<!-- module html  -->
{% if module.headline %}
<section class="

    dark-mode
    bg-charcoal-1

    ">

    <div class="panel-feature
    {% if module.image_position=="flip" %}
        panel-feature--flip
        
    {% endif %}
    ">
        <div class="panel-feature__img-wrap">
            <img src="{{module.img.src}}" class="panel-feature__img" />
        </div>



            <div class="panel-feature__copy">

                <h2 class="panel-feature__headline">
                    {{ module.headline }}
                </h2>
                <h5 class="panel-feature__subheadline">
                    {{ module.body_copy }}
                </h5>


                {% if module.awards %}
                <div class="panel-feature__awards-wrapper">
                    <div class="panel-feature__awards">
                        {% for award in module.awards %}
                        <img src="{{ award.src }}" alt="{{ award.alt }}" />
                    {% endfor %}
                </div>
                    </div>
                    {% endif %}

                    {% if module.btn_link %}
                    <div class="panel-feature__btn-row">
                        <div class="btn__row ">
                            <a href="{{module.btn_link}}" class="btn__wrapper">
                                <button class="btn">
                                    <h3 class="btn__text">{{module.btn_text}}</h3>
                                </button>
                            </a>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
</section>
{% endif %}