<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}

{% include '/markup/blocks_static/pattern-bg.html' %}

{% include '/markup/blocks_static/header.html' %}



{% module "module_20200116150730" path="/markup/modules_from_blocks/half_hero", label="half_hero" %}
{% module "module_20200116131359" path="/markup/modules_from_blocks/center_block_rich_text", label="center_block_rich_text" %}

<!--PLATFORM OVERVIEW-->

{% module "module_20200116152230" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% module "module_202001161638321" path="/markup/modules_from_blocks/two_block_compare", label="two_block_compare" %}

<!--CURRENT WORK-->

{% module "module_20200116152230" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% module "module_202001161638321" path="/markup/modules_from_blocks/two_block_compare", label="two_block_compare" %}

<!--SAMPLE IMAGE BLOCK-->

{% module "module_20200116152230" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% module "module_202001161638321" path="/markup/modules_from_blocks/two_block_compare", label="two_block_compare" %}


{% include '/markup/blocks_static/footer.html' %}

{% endblock %}
