<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}

{% include '/markup/blocks_static/pattern-bg.html' %}

{% include '/markup/blocks_static/header.html' %}



{% module "module_20200116150730" path="/markup/modules_from_blocks/half_hero", label="half_hero" %}

<!--ABOUT SAMASOURCE-->

{% module "module_20200116131359" path="/markup/modules_from_blocks/center_block_rich_text", label="center_block_rich_text" %}

<!--PLATFORM OVERVIEW-->

{% module "module_20200116152230" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

<!--CURRENT WORK-->

{% module "module_20200128112645" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

<!--SAMPLE IMAGE BLOCK-->

{% module "module_20200128112944" path="/markup/modules_from_blocks/full_cta_bar", label="full_cta_bar" %}

{% module "module_20200128113021" path="/markup/modules_from_blocks/two_block_compare", label="two_block_compare" %}
{% module "module_20200128113913" path="/markup/modules_from_blocks/two_block_compare", label="two_block_compare" %}
{% module "module_20200128113921" path="/markup/modules_from_blocks/two_block_compare", label="two_block_compare" %}
{% module "module_20200128113930" path="/markup/modules_from_blocks/two_block_compare", label="two_block_compare" %}
{% module "module_20200128113939" path="/markup/modules_from_blocks/two_block_compare", label="two_block_compare" %}


<!--IMPACT-->

{% module "module_20200128114458" path="/markup/modules_from_blocks/center_block_rich_text", label="center_block_rich_text" %}

{% include '/markup/blocks_static/footer.html' %}

{% endblock %}
