<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends '/markup/blocks_static/base.html' %}

{% block main %}


{% include '/markup/blocks_static/header-lp.html' %}


{% module "module_20200727230229" path="/markup/modules_from_blocks/platform_hero", label="Hero" %}


<!--ABOUT SAMASOURCE-->




{% module "module_20200429110752" path="/markup/modules_from_blocks/center_body", label="Body Block" %}

{% module "module_20200429134642" path="/markup/modules_from_blocks/center_body", label="Body Block" %}

  




{# {% module "module_20200429134736" path="/markup/modules_from_blocks/center_form", label="Scope Form" %} #}





{% include '/markup/blocks_static/footer.html' %}

{% endblock %}