.email-sub-forms {
    .page-header {
        margin-bottom: 2rem;

        h1 {

        }
        h2{
            font-size: 1.75rem;
            font-weight:300;

        }
    }

    .header {
        margin-bottom: 1rem;
    }

    .checkbox-row {
        font-weight: 700;
        margin-bottom: .5rem;

        input {
            margin-right: .25rem;
        }
    }

    .item {
        margin-bottom: 1rem;
        padding:1rem;
        background:var(--color-charcoal-7);
        border-radius: 1rem;
    }


    .item-inner {
        
        &>p {
            padding-left: 2.5rem;
        }
    }

    .subscribe-options{
        margin-bottom:1rem;
        &>p:nth-child(2) {
            margin-left:1rem;
        }
    
    }

    .hs-button.primary {
        padding: 1rem;
        padding: 1rem 2rem .75rem 2rem;
        font-weight:700;
        background:var(--color-charcoal-3);
        border:none;
        color:var(--color-white);
        border-radius: .25rem;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            background:var(--color-charcoal-5);
 
        }
    }
    
    #content {

        h3{
            margin-bottom:1rem;
        }
        &>div {
            margin-bottom:1rem;
        }
    }

}